<div class="container contenedor-central cursos-listado">
  <!-- TODO ng-controller="CursoController as cursos" -->
  <div class="row">
    <div class="col-md-12">
      <div class="mat-toolbar">
        <form class="form form-inline" autocomplete="off">
          <div class="form-group pull-right">
            <a href="<%= cursos.linkContactoLluerna %>" class="btn btn-default"><i class="fa fa-envelope"></i>&nbsp; <%= cursos.contacto %></a>
          </div>
        </form>
      </div>
      <div class="tabla">        
        <p><em>Gestión de cursos, sólo para el técnico de lluerna.</em></p>
      </div>
    </div>
  </div>
</div>