<div class="container contenedor-central">
<div class="row">
  <div id="panelLista" class="col-md-4">
    <div class="mat-toolbar">
      <form class="form" autocomplete="off">
        <div class="form-group">
          <div class="input-group">
            <input id="txtBusqueda" ng-model="busqueda" type="text" class="form-control" placeholder="Búsqueda">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
              <button ng-click="limpiarFiltro()" class="hidden btn btn-default btn-danger-hover btn-sm" type="button"
                  tooltip="Limpiar búsqueda y mostrar todos">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Ordenar</li>
                  <li><a href="javascript:" ng-click="orden = 'nombre'"><i class="fa" ng-class="cssRadio(orden === 'nombre')"></i> Nombre</a></li>
                  <li><a href="javascript:" ng-click="orden = 'apellidos'"><i class="fa" ng-class="cssRadio(orden === 'apellidos')"></i> Apellidos</a></li>
                  <li><a href="javascript:" ng-click="orden = 'tipo'"><i class="fa" ng-class="cssRadio(orden === 'tipo')"></i> Tipo</a></li>
                  <li><a href="javascript:" ng-click="orden = 'rama'"><i class="fa" ng-class="cssRadio(orden === 'rama')"></i> Rama</a></li>
                  <li><a href="javascript:" ng-click="orden = 'fechaActualizacion'"><i class="fa" ng-class="cssRadio(orden === 'fechaActualizacion')"></i> Última Actualización</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-list-alt"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Mostrar</li>
                  <li><a href="javascript:" ng-click="mostrarColumna('rama')"><i class="fa" ng-class="cssCheck(columnas.rama)"></i> Rama, tipo y edad</a>
                  <li><a href="javascript:" ng-click="mostrarColumna('contacto')"><i class="fa" ng-class="cssCheck(columnas.contacto)"></i> Datos de contacto</a></li>
                  <li><a href="javascript:" ng-click="mostrarColumna('direccion')"><i class="fa" ng-class="cssCheck(columnas.direccion)"></i> Dirección, C.P. y Municipio</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-print"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Imprimir</li>
                  <li><a href="javascript:">Listado completo</a></li>
                  <li><a href="javascript:">Listado, solo visibles</a></li>
                  <li><a href="javascript:">Autorizaciones</a></li>
                  <li><a href="javascript:">Fichas Individuales</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-fire"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Edición Multiple</li>
                  <li><a href="javascript:">Cambiar rama</a></li>
                  <li><a href="javascript:">Cambiar tipo</a></li>
                  <li><a href="javascript:">Eliminar</a></li>
                </ul>
              </div>
              <button class="btn btn-default btn-sm" type="button" ng-click="nuevo()">NUEVO</button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="mat-subtoolbar">
      <div class="form-group">
        <div class="btn-toolbar">
          <div class="btn-group btn-group-xs">
            <a href="javascript:" class="btn btn-default" ng-class="{active: filtro.tipo == 'J'}" ng-click="activarFiltro('tipo', 'J')">Jóven</a>
            <a href="javascript:" class="btn btn-default" ng-class="{active: filtro.tipo == 'K'}" ng-click="activarFiltro('tipo', 'K')">Kraal</a>
            <a href="javascript:" class="btn btn-default" ng-class="{active: filtro.tipo == 'C'}" ng-click="activarFiltro('tipo', 'C')">Comité</a>
          </div>
          <div class="btn-group btn-group-xs">
            <a href="javascript:" class="btn btn-default ramaColonia" ng-class="{active: filtro.ramaColonia}" ng-click="activarFiltro('ramaColonia', true, false)">
              <i class="fa fa-circle"></i>
            </a>
            <a href="javascript:" class="btn btn-default ramaManada" ng-class="{active: filtro.ramaManada}" ng-click="activarFiltro('ramaManada', true, false)">
              <i class="fa fa-circle"></i>
            </a>
            <a href="javascript:" class="btn btn-default ramaExploradores" ng-class="{active: filtro.ramaExploradores}" ng-click="activarFiltro('ramaExploradores', true, false)">
              <i class="fa fa-circle"></i>
            </a>
            <a href="javascript:" class="btn btn-default ramaExpedicion" ng-class="{active: filtro.ramaExpedicion}" ng-click="activarFiltro('ramaExpedicion', true, false)">
              <i class="fa fa-circle"></i>
            </a>
            <a href="javascript:" class="btn btn-default ramaRuta" ng-class="{active: filtro.ramaRuta}" ng-click="activarFiltro('ramaRuta', true, false)">
              <i class="fa fa-circle"></i>
            </a>
          </div>
          <div class="btn-group btn-group-xs pull-right">
            <a href="javascript:" class="btn btn-default" ng-class="{active: filtro.eliminados === true}" ng-click="activarFiltro('eliminados', true, false)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="lista" ng-class="{'ver-rama': columnas.rama, 'ver-contacto': columnas.contacto, 'ver-direccion': columnas.direccion}">
      <div class="elemento"
        ng-class="{'text-danger': a.cambiosPendientes, 'text-primary': a.guardado, 'marcado': a.marcado, seleccionado: a.seleccionado, eliminado: !a.activo}"
        ng-repeat="a in asociados | filter:busqueda | filter:filtrar | orderBy:orden track by a.id"
        ng-click="editar(a.id)">
        <div class="selector" ng-click="marcar(a, $event)">
          <i class="fa fa-check-square"></i>
        </div>
        <div class="datos">
          <strong>{{a.nombre}} {{a.apellidos}}</strong>
          <div class="rama">{{a.tipo | tipoAsociado}}, {{a | rama}}, {{a.fechaNacimiento | edad}} años <span class="pull-right">Act: {{a.fechaActualizacion | date:'dd/MM/yy'}}</span></div>
          <div class="direccion">{{a.direccion}} <span class="pull-right">{{a.codigoPostal}} {{a.municipio}}</span></div>
          <div class="contacto">{{a.emailContacto}}&nbsp;<span class="pull-right">{{a.telefonoMovil}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <div id="panelEdicion" class="col-sm-8">
    <div class="mat-toolbar text-right">
      <button type="button" class="btn btn-default"
        ng-hide="asociado.id && !asociado.activo"
        ng-class="establecerEstiloGuardado()" ng-click="guardar(asociado.id)">
        GUARDAR
      </button>
      <button type="button" class="btn btn-danger"
        ng-show="!asociado.id || asociado.activo"
        ng-class="{disabled: !asociado.activo}" ng-click="activar(asociado.id, false)">
        DAR DE BAJA
      </button>
      <button type="button" class="btn btn-default btn-danger"
        ng-show="asociado.id && !asociado.activo" ng-click="modal.eliminar = true">
        ELIMINAR DEFINITIVAMENTE
      </button>
      <button type="button" class="btn btn-default btn-success"
        ng-show="asociado.id && !asociado.activo" ng-click="activar(asociado.id, true)">
        RECUPERAR
      </button>
    </div>

    <div class="mat-toolbar-expand">
      <h1>{{obtenerNombreCompleto(asociado)}}</h1>
    </div>

    <div class="alert alert-info hidden">
      Se han guardado los cambios del asociado correctamente.
    </div>

    <div class="alert alert-danger" ng-show="estado == 4">
      <strong>Ops!</strong> Algunos de los datos del asociado no son correctos, por favor revisa el formulario.
      <ul>
        <li>Nombre - Requerido</li>
        <li>Apellidos - No pueden estar en blanco</li>
      </ul>
    </div>

    <form name="formAsociado" class="form-horizontal form-cudu form-edicion" role="form" autocomplete="off">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtNombre" class="col-md-3 control-label">Nombre</label>
            <div class="col-md-9">
              <input ng-model="asociado.nombre" type="text" class="form-control" id="txtNombre" placeholder="Obligatorio">
            </div>
          </div>
          <div class="form-group">
            <label for="txtApellidos" class="col-md-3 control-label">Apellidos</label>
            <div class="col-md-9">
              <input ng-model="asociado.apellidos" type="text" class="form-control" id="txtApellidos" placeholder="Obligatorio">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Sexo</label>
            <div class="col-md-9">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-class="{active: asociado.sexo == 'M'}" ng-click="establecerSexo('M')">Masculino</button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.sexo == 'F'}" ng-click="establecerSexo('F')">Femenino</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Tipo</label>
            <div class="col-md-9">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-class="{active: asociado.tipo == 'J'}" ng-click="establecerTipo('J')">Jóven</button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.tipo == 'K'}" ng-click="establecerTipo('K')">Kraal</button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.tipo == 'C'}" ng-click="establecerTipo('C')">Comité</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Rama</label>
            <div class="col-md-9">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-class="{active: asociado.ramaColonia}" ng-click="establecerRama('ramaColonia')">Cas.</button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.ramaManada}" ng-click="establecerRama('ramaManada')">Lob.</button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.ramaExploradores}" ng-click="establecerRama('ramaExploradores')">Exp.</button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.ramaPioneros}" ng-click="establecerRama('ramaPioneros')">Pio.</button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.ramaRutas}" ng-click="establecerRama('ramaRutas')">Com.</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label">Grupo</label>
            <div class="col-md-9">
              <p class="form-control-static">{{grupo.nombre}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="txtNombre" class="col-md-3 control-label">Fecha Nac.</label>
            <div class="col-md-9">
              <input ng-model="asociado.fechaNacimiento" type="text" class="form-control" placeholder="Obligatorio (dd/mm/aaaa)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">DNI / NIE</label>
            <div class="col-md-9">
              <input ng-model="asociado.dni" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="txtSegSocial" class="col-md-3 control-label">Seg. Social</label>
            <div class="col-md-9">
              <input ng-model="asociado.seguridadSocial" type="text" class="form-control" id="txtSegSocial">
            </div>
          </div>
        </div>
      </div>

      <ul class="nav nav-tabs">
        <li ng-class="{active: tabActivo == 0}"><a href="" ng-click="seleccionarTab(0)">Contacto</a></li>
        <li ng-class="{active: tabActivo == 1, hidden: asociado.tipo != 'J'}"><a href="" ng-click="seleccionarTab(1)">Responsables</a></li>
        <li ng-class="{active: tabActivo == 2, hidden: asociado.tipo != 'J'}"><a href="" ng-click="seleccionarTab(2)">Documentos</a></li>
        <li ng-class="{active: tabActivo == 4}"><a href="" ng-click="seleccionarTab(4)">Formación</a></li>
        <li ng-class="{active: tabActivo == 3}"><a href="" ng-click="seleccionarTab(3)">Seguridad</a></li>
        <li ng-class="{active: tabActivo == 5}"><a href="" ng-click="seleccionarTab(5)">Notas</a></li>
      </ul>

      <div class="row tab-content" ng-show="tabActivo == 0">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label">Dirección</label>
            <div class="col-md-9">
              <textarea ng-model="asociado.direccion" class="form-control" rows="2"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">C.P.</label>
            <div class="col-md-9">
              <input ng-model="asociado.codigoPostal" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Municipio</label>
            <div class="col-md-9">
              <input ng-model="asociado.municipio" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label">E-Mail</label>
            <div class="col-md-9">
              <input ng-model="asociado.emailContacto" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Tél. Móvil</label>
            <div class="col-md-9">
              <input ng-model="asociado.telefonoMovil" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Tél. Casa</label>
            <div class="col-md-9">
              <input ng-model="asociado.telefonoCasa" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content" ng-show="tabActivo == 1">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label">Entorno</label>
            <div class="col-md-8">
              <div class="checkbox">
                <label><input type="checkbox" value="">Tiene tutor legal</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Padres separados</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Hermanos en el grupo</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label">Copiar Datos</label>
            <div class="col-md-8">
              <p><small>Puede copiar los datos de contacto de la pestaña anterior al padre o la madre.</small></p>
              <button type="button" class="btn btn-default btn-xs" ng-click="copiarDatosContacto('Padre', '')">Copiar al Padre</button>
              <button type="button" class="btn btn-default btn-xs" ng-click="copiarDatosContacto('Madre', '')">Copiar a la Madre</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label">Nombre Padre</label>
            <div class="col-md-8">
              <input ng-model="asociado.nombrePadre" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Télefono</label>
            <div class="col-md-8">
              <input ng-model="asociado.telefonoPadre" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-8">
              <input ng-model="asociado.emailPadre" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label">Nombre Madre</label>
            <div class="col-md-8">
              <input ng-model="asociado.nombreMadre" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Télefono</label>
            <div class="col-md-8">
              <input ng-model="asociado.telefonoMadre" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-8">
              <input ng-model="asociado.emailMadre" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      </div><!-- #responsables, 2 rows -->

      <div class="row tab-content" ng-show="tabActivo == 2">
        <div class="col-md-12">
          <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span>
            Cudú puede ayudarte a recordar de qué documentos dispones copia en papel.</p>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox" value="">Documento Nacional de Identidad (DNI)</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Cartilla Seg. Social / Tarjeta SIP</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox" value="">Ficha Médica</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Cartilla de Vacunaciones</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row tab-content" ng-show="tabActivo == 3" ng-controller="SeguridadCtrl">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label">Usuario</label>
            <div class="col-md-9">
              <input ng-model="asociado.email" type="text" class="form-control" placeholder="Obligatorio">
              <span class="help-block small">El email del asociado se usa para entrar a Cudú.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Cuenta</label>
            <div ng-show="asociado.usuarioActivo" class="col-md-9">
              <button type="button" class="btn btn-default btn-sm" ng-click="cambiarPassword(asociado)">Cambiar contraseña</button>
              <button type="button" class="btn btn-default btn-sm" ng-click="desactivar(asociado)">Desactivar cuenta</button>
            </div>
            <div ng-show="!asociado.usuarioActivo" class="col-md-9">
              <button type="button" class="btn btn-default btn-sm" ng-click="activar(asociado)">Activar cuenta</button>
              <p ng-show="mostrarAlertaPassword" class="small text-danger">Para activar un usuario es necesario que sea mayor de 18 años y tenga una dirección de email conocida.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label">Estado</label>
            <div class="col-md-8">
              <p class="form-control-static">Activo</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Creado por</label>
            <div class="col-md-8">
              <p class="form-control-static">Mike Wazowski</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Última entrada</label>
            <div class="col-md-8">
              <p class="form-control-static">25/10/2012 10:50:03</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content" ng-show="tabActivo == 4">
        DATOS FORMACION
      </div>

      <div class="tab-content" ng-show="tabActivo == 6">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Usuario</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>17/08/2010 19:34:01</td>
              <td>Mark Otto</td>
              <td>Crear el asociado con id = 4.</td>
            </tr>
            <tr>
              <td>21/02/2011 19:34:01</td>
              <td>Jacob Thornton</td>
              <td>Editar nombre, calle y apellidos.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-content" ng-show="tabActivo == 5">
        <textarea ng-model="asociado.notas" class="form-control" rows="4"
          placeholder="aqui puedes introducir información adicional, pequeños apuntes, etc."></textarea>
      </div>
    </form>

  </div>
</div>
</div>

<div cudu-modal="modal.eliminar" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body">
    <p>¿Estás seguro de que quieres eliminar el asociado completamente? Una vez eliminado no se puede recuperar.</p>
    <p><strong>Asociado:</strong> {{asociado.nombre}} {{asociado.apellidos}}<br/>
      <strong>Rama:</strong> {{asociado.rama | rama}}<br/>
      <strong>Identificador: </strong> {{asociado.idGrupo}}-{{asociado.id}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="eliminar(asociado.id)">Eliminar</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modal.eliminar = false">Deshacer</button>
  </div>
</div>
</div>
</div>
