<div class="container contenedor-central">
<div class="row">
  <div id="panelLista" class="col-md-4" ng-if="!esTecnico">
    <div class="mat-toolbar">
      <form class="form" autocomplete="off">
        <div class="form-group">
          <div class="input-group">
            <input id="txtBusqueda" ng-model="busqueda" type="text" class="form-control" placeholder="<%= asociado.busqueda %>" style="border:0;box-shadow:none">
            <span class="input-group-btn">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><%= asociado.ordenar %></li>
                  <li><a href="javascript:" ng-click="orden = 'nombre'"><i class="fa" ng-class="cssRadio(orden === 'nombre')"></i> <%= asociado.nombre %></a></li>
                  <li><a href="javascript:" ng-click="orden = 'apellidos'"><i class="fa" ng-class="cssRadio(orden === 'apellidos')"></i> <%= asociado.apellidos %></a></li>
                  <li><a href="javascript:" ng-click="orden = 'tipo'"><i class="fa" ng-class="cssRadio(orden === 'tipo')"></i> <%= asociado.tipo %></a></li>
                  <li><a href="javascript:" ng-click="orden = 'rama'"><i class="fa" ng-class="cssRadio(orden === 'rama')"></i> <%= asociado.rama %></a></li>
                  <li><a href="javascript:" ng-click="orden = 'fechaActualizacion'"><i class="fa" ng-class="cssRadio(orden === 'fechaActualizacion')"></i> <%= asociado.ultimaActualizacion %></a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-list-alt"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><%= asociado.mostrar %></li>
                  <li><a href="javascript:" ng-click="mostrarColumna('rama')"><i class="fa" ng-class="cssCheck(columnas.rama)"></i> <%= asociado.ramaTipoYEdad %></a>
                  <li><a href="javascript:" ng-click="mostrarColumna('contacto')"><i class="fa" ng-class="cssCheck(columnas.contacto)"></i> <%= asociado.datosDeContacto %></a></li>
                  <li><a href="javascript:" ng-click="mostrarColumna('direccion')"><i class="fa" ng-class="cssCheck(columnas.direccion)"></i> <%= asociado.direccionCpYMunicipio %></a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-print"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><%= asociado.imprimir %></li>
                  <li><a href="javascript:" ng-click="imprimirTodos()"><%= asociado.listadoCompleto %></a></li>
                  <li><a href="javascript:" ng-click="imprimirVisibles()"><%= asociado.listadoSoloVisibles %></a></li>
                  <li class="dropdown-submenu">
                    <a data-toggle="dropdown" href="javascript:"><%= asociado.autorizaciones %></a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-repeat="autorizacion in autorizaciones" ng-click="generarFicha(autorizacion.id)">{{autorizacion.nombre}}</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a data-toggle="dropdown" href="javascript:"><%= asociado.fichasIndividuales %></a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-repeat="ficha in fichas" ng-click="generarFicha(ficha.id)">{{ficha.nombre}}</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div id="btnGroupEdicionMultiple" class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="fa fa-users"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><%= asociado.edicionMultiple %></li>
                  <li class="dropdown-submenu">
                    <a data-toggle="dropdown" href="javascript:"><%= asociado.cambiarRama %></a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="cambiarRama('colonia')"><%= rama.colonia %></a></li>
                      <li><a href="javascript:" ng-click="cambiarRama('manada')"><%= rama.manada %></a></li>
                      <li><a href="javascript:" ng-click="cambiarRama('exploradores')"><%= rama.exploradores %></a></li>
                      <li><a href="javascript:" ng-click="cambiarRama('expedicion')"><%= rama.expedicion %></a></li>
                      <li><a href="javascript:" ng-click="cambiarRama('ruta')"><%= rama.ruta %></a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a data-toggle="dropdown" href="javascript:"><%= asociado.cambiarTipo %></a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="cambiarTipo('J')"><%= tipo.Joven %></a></li>
                      <li><a href="javascript:" ng-click="cambiarTipo('K')"><%= tipo.Kraal %></a></li>
                      <li><a href="javascript:" ng-click="cambiarTipo('C')"><%= tipo.Comite %></a></li>
                    </ul>
                  </li>
                  <li><a href="javascript:" ng-click="darDeBajaSeleccionados()"><%= asociado.darDeBaja %></a></li>
                </ul>
              </div>
              <button id="btnNuevoAsociado" class="btn btn-default btn-sm" type="button" ng-click="nuevo()"><%= asociado.nuevo %></button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="mat-subtoolbar">
      <div class="form-group">
        <div class="btn-toolbar">
          <div class="btn-group btn-group-xs">
            <a href="javascript:" class="btn btn-default" ng-class="{active: filtro.tipo == 'J'}" ng-click="activarFiltro('tipo', 'J')"><%= tipo.Joven %></a>
            <a href="javascript:" class="btn btn-default" ng-class="{active: filtro.tipo == 'K'}" ng-click="activarFiltro('tipo', 'K')"><%= tipo.Kraal %></a>
            <a href="javascript:" class="btn btn-default" ng-class="{active: filtro.tipo == 'C'}" ng-click="activarFiltro('tipo', 'C')"><%= tipo.Comite %></a>
          </div>
          <div class="btn-group btn-group-xs">
            <a href="javascript:" class="btn colonia" ng-class="{active: filtro.ramaColonia}" ng-click="activarFiltro('ramaColonia', true, false)">
              <i class="fa fa-circle"></i>
            </a>
            <a href="javascript:" class="btn manada" ng-class="{active: filtro.ramaManada}" ng-click="activarFiltro('ramaManada', true, false)">
              <i class="fa fa-circle"></i>
            </a>
            <a href="javascript:" class="btn exploradores" ng-class="{active: filtro.ramaExploradores}" ng-click="activarFiltro('ramaExploradores', true, false)">
              <i class="fa fa-circle"></i>
            </a>
            <a href="javascript:" class="btn expedicion" ng-class="{active: filtro.ramaExpedicion}" ng-click="activarFiltro('ramaExpedicion', true, false)">
              <i class="fa fa-circle"></i>
            </a>
            <a href="javascript:" class="btn ruta" ng-class="{active: filtro.ramaRuta}" ng-click="activarFiltro('ramaRuta', true, false)">
              <i class="fa fa-circle"></i>
            </a>
          </div>

          <div class="btn-group btn-group-xs pull-right">
            <a href="javascript:" class="btn btn-default" ng-class="{active: filtro.eliminados === true}" ng-click="activarFiltro('eliminados', true, false)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </div>

          <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-class="{active: filtro.certificadoDelitosSexuales != 'nada' || filtro.certificadoVoluntariado != 'nada'}">
              <span class="glyphicon glyphicon-filter"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><%= asociado.otrosFiltros %></li>
              <li class="divider"></li>
              <li><a>&bull; <%= asociado.certificadoDelitosSexuales %></a></li>
              <li><div class="btn-group btn-group-sm">
                <a id="siCertificadoDelitosSexuales" href="javascript:" ng-click="activarFiltro('certificadoDelitosSexuales', 'true', 'nada')" ng-class="{active: filtro.certificadoDelitosSexuales === 'true'}" class="btn btn-orange">Sí</a>
                <a id="noCertificadoDelitosSexuales" href="javascript:" ng-click="activarFiltro('certificadoDelitosSexuales', 'false', 'nada')" ng-class="{active: filtro.certificadoDelitosSexuales === 'false'}" class="btn btn-orange">No</a>
              </div></li>
              <li><a>&bull; <%= asociado.certificadoVoluntariado %></a></li>
              <li><div class="btn-group btn-group-sm">
                <a id="siCertificadoVoluntariado" href="javascript:" ng-click="activarFiltro('certificadoVoluntariado', 'true', 'nada')" ng-class="{active: filtro.certificadoVoluntariado === 'true'}" class="btn btn-orange">Sí</a>
                <a id="noCertificadoVoluntariado" href="javascript:" ng-click="activarFiltro('certificadoVoluntariado', 'false', 'nada')" ng-class="{active: filtro.certificadoVoluntariado === 'false'}" class="btn btn-orange">No</a>
              </div></li>
              <li><a>&bull; <%= asociado.cursoProteccionInfancia %></a></li>
              <li><div class="btn-group btn-group-sm">
                <a id="siCursoProteccionInfancia" href="javascript:" ng-click="activarFiltro('cursoProteccionInfancia', 'true', 'nada')" ng-class="{active: filtro.cursoProteccionInfancia === 'true'}" class="btn btn-orange">Sí</a>
                <a id="noCursoProteccionInfancia" href="javascript:" ng-click="activarFiltro('cursoProteccionInfancia', 'false', 'nada')" ng-class="{active: filtro.cursoProteccionInfancia === 'false'}" class="btn btn-orange">No</a>
              </div></li>
              <li><a>&bull; <%= asociado.compromisoCertificadoInfancia %></a></li>
              <li><div class="btn-group btn-group-sm">
                <a id="siCompromisoCertificadoInfancia" href="javascript:" ng-click="activarFiltro('compromisoCertificadoInfancia', 'true', 'nada')" ng-class="{active: filtro.compromisoCertificadoInfancia === 'true'}" class="btn btn-orange">Sí</a>
                <a id="noCompromisoCertificadoInfancia" href="javascript:" ng-click="activarFiltro('compromisoCertificadoInfancia', 'false', 'nada')" ng-class="{active: filtro.compromisoCertificadoInfancia === 'false'}" class="btn btn-orange">No</a>
              </div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="lista" ng-class="{'ver-rama': columnas.rama, 'ver-contacto': columnas.contacto, 'ver-direccion': columnas.direccion}">
      <div class="elemento"
        ng-class="{'cambiosPendientes': a.cambiosPendientes, 'guardado': a.guardado, 'marcado': a.marcado, seleccionado: a.seleccionado, eliminado: !a.activo}"
        ng-repeat="a in asociados | filter: ignoreAccents(busqueda) | filter:filtrar | orderBy:orden track by a.id"
           ng-click="editar(a.id)">
        <!--?           ng-repeat="a in asociados | filter:busqueda | filter:filtrar | orderBy:orden track by a.id"-->

        <div class="selector" ng-click="marcar(a, $event)">
          <i class="fa fa-check-square"></i>
        </div>
        <div class="datos">
          <strong>{{a.nombre}} {{a.apellidos}}</strong>
          <div class="rama">{{a.tipo | i18n:'tipo'}}, {{a | rama}}, {{a.fechaNacimiento | edad}} años <span class="pull-right" title="{{a.fechaActualizacion | date:'dd/MM/yyyy HH:mm:ss'}}">Act: {{a.fechaActualizacion | date:'dd/MM/yy'}}</span></div>
          <div class="direccion">{{a.direccion}} <span class="pull-right">{{a.codigoPostal}} {{a.municipio}}</span></div>
          <div class="contacto">{{a.emailContacto}}&nbsp;<span class="pull-right">{{a.telefonoMovil}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <div id="logo-bienvenida" ng-class="{'col-sm-12': esTecnico, 'col-sm-8': !esTecnico,}" hidden >
    <div class="mat-toolbar text-right">
    </div>
    <img class="img-responsive center-block well well-lg" src="images/logo.png" style="background-color:darkgrey; vertical-align:middle;">

  </div>

  <div id="panelEdicion" ng-class="{'col-sm-12': esTecnico, 'col-sm-8': !esTecnico,}" hidden>
    <div class="mat-toolbar text-right">
      <button type="button" class="btn btn-default text-uppercase"
        ng-if="esTecnico"
        ng-class="establecerEstiloGuardado()" ng-click="volver()">
        <%= asociado.volver %>
      </button>
      <button type="button" class="btn btn-default text-uppercase"
        ng-class="establecerEstiloGuardado()" ng-click="guardar(asociado.id)">
        <%= asociado.guardar %>
      </button>
      <button type="button" class="btn btn-danger text-uppercase"
        ng-show="asociado.id && asociado.activo" ng-click="activar(asociado.id, false)">
        <%= asociado.darDeBaja %>
      </button>
      <button type="button" class="btn btn-default btn-danger text-uppercase"
        ng-show="asociado.id && !asociado.activo" ng-click="modal.eliminar = true">
        <%= asociado.eliminarDefinitivamente %>
      </button>
      <button type="button" class="btn btn-default btn-success text-uppercase"
        ng-show="asociado.id && !asociado.activo" ng-click="activar(asociado.id, true)">
        <%= asociado.recuperar %>
      </button>
    </div>

    <div class="mat-toolbar-expand">
      <h1>{{obtenerNombreCompleto(asociado)}}</h1>
    </div>

    <div class="alert alert-info" ng-show="estado == 2">
      <%= asociado.guardadoOk %>
    </div>

    <div class="alert alert-danger" ng-show="estado == 3">
      <%= asociado.errorServidor %>
    </div>

    <div class="alert alert-warning" ng-show="estado == 4">
      <%= asociado.errorValidacion %>
      <ul>
        <li ng-repeat="error in erroresValidacion">{{error.mensaje}}</li>
      </ul>
    </div>

    <div class="alert alert-warning" ng-show="estado == 5">
      <p>{{info.mensaje}}</p>
      <div ng-show="erroresValidacion && erroresValidacion.length > 0">
        <p><%= asociado.errorValidacion %></p>
        <ul>
          <li ng-repeat="error in erroresValidacion">{{error.mensaje}}</li>
        </ul>
      </div>
    </div>

    <form name="formAsociado" class="form-horizontal form-cudu form-edicion" role="form" autocomplete="off">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtNombre" class="col-md-3 control-label"><%= asociado.nombre %></label>
            <div class="col-md-9">
              <input ng-model="asociado.nombre" type="text" class="form-control" id="txtNombre" placeholder="<%=asociado.obligatorio%>">
            </div>
          </div>
          <div class="form-group">
            <label for="txtApellidos" class="col-md-3 control-label"><%= asociado.apellidos %></label>
            <div class="col-md-9">
              <input ng-model="asociado.apellidos" type="text" class="form-control" id="txtApellidos" placeholder="<%=asociado.obligatorio%>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%= asociado.genero %></label>
            <div class="col-md-9">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-class="{active: asociado.genero == 'M'}" ng-click="establecerGenero('M')"><%= asociado.masculino %></button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.genero == 'F'}" ng-click="establecerGenero('F')"><%= asociado.femenino %></button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.genero == 'N'}" ng-click="establecerGenero('N')"><%= asociado.noBinario %></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%= asociado.tipo %></label>
            <div class="col-md-9">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-class="{active: asociado.tipo == 'J'}" ng-click="establecerTipo('J')"><%=tipo.Joven%></button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.tipo == 'K'}" ng-click="establecerTipo('K')"><%=tipo.Kraal%></button>
                <button type="button" class="btn btn-default" ng-class="{active: asociado.tipo == 'C'}" ng-click="establecerTipo('C')"><%=tipo.Comite%></button>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{'invisible': asociado.tipo === 'C'}">
            <label class="col-md-3 control-label"><%=asociado.rama%></label>
            <div class="col-md-9">
              <div class="btn-group btn-group-sm">
                <a class="btn btn-default colonia" ng-class="{active: asociado.ramaColonia}" ng-click="establecerRama('ramaColonia')">
                  <i class="fa fa-circle"></i>
                </a>
                <a class="btn btn-default manada" ng-class="{active: asociado.ramaManada}" ng-click="establecerRama('ramaManada')">
                  <i class="fa fa-circle"></i>
                </a>
                <a class="btn btn-default exploradores" ng-class="{active: asociado.ramaExploradores}" ng-click="establecerRama('ramaExploradores')">
                  <i class="fa fa-circle"></i>
                </a>
                <a class="btn btn-default expedicion" ng-class="{active: asociado.ramaExpedicion}" ng-click="establecerRama('ramaExpedicion')">
                  <i class="fa fa-circle"></i>
                </a>
                <a class="btn btn-default ruta" ng-class="{active: asociado.ramaRuta}" ng-click="establecerRama('ramaRuta')">
                  <i class="fa fa-circle"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">&nbsp;</label>
            <p id="txtRecRama" class="col-md-9 form-control-static small" ng-show="asociado.alertaRama"><%= asociado.ramaRecomendada %> <strong>{{asociado.alertaRama}}</strong>.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label"><%= asociado.grupo %></label>
            <div class="col-md-9">
              <p id="caquita" class="form-control-static">{{grupo.nombre}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%= asociado.fechaNac %></label>
            <div class="col-md-9">
              <input ng-model="asociado.fechaNacimiento" cudu-fecha type="text" class="form-control"
                placeholder="<%=asociado.obligatorio%> (dd/mm/aaaa)" ng-blur="comprobarAlertaRama(asociado)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%= asociado.dniNie%></label>
            <div class="col-md-9">
              <input ng-model="asociado.dni" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%= asociado.documentacionExtrangera%></label>
            <div class="col-md-9">
              <input ng-model="asociado.documentacionExtrangera" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%=asociado.segSocial%></label>
            <div class="col-md-9">
              <input ng-model="asociado.seguridadSocial" type="text" class="form-control" id="txtSegSocial">
            </div>
          </div>

          <div id="certificado+deberSecreto" ng-class="{'invisible': asociado.tipo === 'J'}"  >
            <div id="certificado-form" class="form-group" >

              <div ng-if="esTecnico">
                <p class="col-md-3 control-label" >
                  <input type="checkbox" ng-model="asociado.certificadoDelitosSexuales"></input>
                </p>

                <div class="col-md-9" >
                  <label class="form-control-static font-weight-bold">
                    <%=asociado.certificadoDelitosSexuales%>
                  </label>
                </div>
              </div>

              <div ng-if="esTecnico">
                <p class="col-md-3 control-label" >
                  <input type="checkbox" ng-model="asociado.certificadoVoluntariado"></input>
                </p>

                <div class="col-md-9" >
                  <label class="form-control-static font-weight-bold">
                    <%=asociado.certificadoVoluntariado%>
                  </label>
                </div>
              </div>

              <div ng-if="esTecnico">
                <p class="col-md-3 control-label" >
                  <input type="checkbox" ng-model="asociado.cursoProteccionInfancia"></input>
                </p>

                <div class="col-md-9" >
                  <label class="form-control-static font-weight-bold">
                    <%=asociado.cursoProteccionInfancia%>
                  </label>
                </div>
              </div>

              <div ng-if="esTecnico">
                <p class="col-md-3 control-label" >
                  <input type="checkbox" ng-model="asociado.compromisoCertificadoInfancia"></input>
                </p>

                <div class="col-md-9" >
                  <label class="form-control-static font-weight-bold">
                    <%=asociado.compromisoCertificadoInfancia%>
                  </label>
                </div>
              </div>

              <div ng-if="!esTecnico">
                <span class="col-md-3 " ng-if="asociado.certificadoDelitosSexuales"></span>
                <label class="col-md-3 control-label" ng-if="!asociado.certificadoDelitosSexuales" ><i class="fa fa-warning fa-lg"></i></label>
                <div class="col-md-9">
                  <label class="form-control-static font-weight-bold" ng-if="asociado.certificadoDelitosSexuales">
                    <%=asociado.certificadoDelitosSexualesSi%>
                  </label>
                  <label class="form-control-static font-weight-bold" ng-if="!asociado.certificadoDelitosSexuales" >
                    <%=asociado.certificadoDelitosSexualesNo%>
                  </label>
                </div>
              </div>

              <div ng-if="!esTecnico">
                <span class="col-md-3 " ng-if="asociado.certificadoVoluntariado"></span>
                <label class="col-md-3 control-label" ng-if="!asociado.certificadoVoluntariado" ><i class="fa fa-warning fa-lg"></i></label>
                <div class="col-md-9">
                  <label class="form-control-static font-weight-bold" ng-if="asociado.certificadoVoluntariado">
                    <%=asociado.certificadoVoluntariadoSi%>
                  </label>
                  <label class="form-control-static font-weight-bold" ng-if="!asociado.certificadoVoluntariado" >
                    <%=asociado.certificadoVoluntariadoNo%>
                  </label>
                </div>
              </div>

              <div ng-if="!esTecnico">
                <span class="col-md-3 " ng-if="asociado.cursoProteccionInfancia"></span>
                <label class="col-md-3 control-label" ng-if="!asociado.cursoProteccionInfancia" ><i class="fa fa-warning fa-lg"></i></label>
                <div class="col-md-9">
                  <label class="form-control-static font-weight-bold" ng-if="asociado.cursoProteccionInfancia">
                    <%=asociado.cursoProteccionInfanciaSi%>
                  </label>
                  <label class="form-control-static font-weight-bold" ng-if="!asociado.cursoProteccionInfancia" >
                    <%=asociado.cursoProteccionInfanciaNo%>
                  </label>
                </div>
              </div>

              <div ng-if="!esTecnico">
                <span class="col-md-3 " ng-if="asociado.compromisoCertificadoInfancia"></span>
                <label class="col-md-3 control-label" ng-if="!asociado.compromisoCertificadoInfancia" ><i class="fa fa-warning fa-lg"></i></label>
                <div class="col-md-9">
                  <label class="form-control-static font-weight-bold" ng-if="asociado.compromisoCertificadoInfancia">
                    <%=asociado.compromisoCertificadoInfanciaSi%>
                  </label>
                  <label class="form-control-static font-weight-bold" ng-if="!asociado.compromisoCertificadoInfancia" >
                    <%=asociado.compromisoCertificadoInfanciaNo%>
                  </label>
                </div>
              </div>

            </div>

            <div id="deber-secreto-form" class="form-group" >
              <label class="col-md-3 control-label"><i class="fa fa-check-square-o fa-lg"></i></label>
              <div class="col-md-9">
                <p class="form-control-static">
                  <%= asociado.aceptoClausulaDeberSecreto %>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <ul class="nav nav-tabs">
        <li ng-class="{active: tabActivo == 0}"><a href="" ng-click="seleccionarTab(0)"><%=asociado.contacto%></a></li>
        <li ng-class="{active: tabActivo == 1, hidden: asociado.tipo != 'J'}"><a href="" ng-click="seleccionarTab(1)"><%=asociado.responsables%></a></li>
        <li ng-class="{active: tabActivo == 2, hidden: asociado.tipo != 'J'}"><a href="" ng-click="seleccionarTab(2)"><%=asociado.documentos%></a></li>
        <li ng-class="{active: tabActivo == 6, hidden: asociado.tipo === 'J' || !asociado.id}"><a href="" ng-click="seleccionarTab(6)"><%=asociado.voluntariado%></a></li>
        <li ng-class="{active: tabActivo == 4, hidden: asociado.tipo === 'J' || !asociado.id}"><a href="" ng-click="seleccionarTab(4)"><%=asociado.formacion%></a></li>
        <li ng-class="{active: tabActivo == 5}"><a href="" ng-click="seleccionarTab(5)"><%=asociado.notas%></a></li>
      </ul>

      <div class="row tab-content" ng-show="tabActivo == 0">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label"><%=asociado.direccion%></label>
            <div class="col-md-9">
              <textarea ng-model="asociado.direccion" class="form-control" rows="2"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%=asociado.codigoPostal%></label>
            <div class="col-md-9">
              <input ng-model="asociado.codigoPostal" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%=asociado.municipio%></label>
            <div class="col-md-9">
              <input ng-model="asociado.municipio" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label"><%=asociado.email%></label>
            <div class="col-md-9">
              <input ng-model="asociado.emailContacto" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%=asociado.telMovil%></label>
            <div class="col-md-9">
              <input ng-model="asociado.telefonoMovil" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><%=asociado.telCasa%></label>
            <div class="col-md-9">
              <input ng-model="asociado.telefonoCasa" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content" ng-show="tabActivo == 1">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label"><%=asociado.entorno%></label>
            <div class="col-md-8">
              <div class="checkbox">
                <label><input type="checkbox" ng-model="asociado.tieneTutorLegal"><%=asociado.tieneTutorLegal%></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" ng-model="asociado.padresDivorciados"><%=asociado.padresSeparados%></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" ng-model="asociado.hermanosEnElGrupo"><%=asociado.hermanosEnElGrupo%></label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label">Copiar Datos</label>
            <div class="col-md-8">
              <p><small><%=asociado.puedeCopiarDatosContacto%></small></p>
              <button type="button" class="btn btn-default btn-xs" ng-click="copiarDatosContacto('Padre')"><%=asociado.copiarAlPadre%></button>
              <button type="button" class="btn btn-default btn-xs" ng-click="copiarDatosContacto('Madre')"><%=asociado.copiarALaMadre%></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label"><%=asociado.nombrePadre%></label>
            <div class="col-md-8">
              <input ng-model="asociado.nombrePadre" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><%=asociado.telefono%></label>
            <div class="col-md-8">
              <input ng-model="asociado.telefonoPadre" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><%=asociado.email%></label>
            <div class="col-md-8">
              <input ng-model="asociado.emailPadre" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label"><%=asociado.nombreMadre%></label>
            <div class="col-md-8">
              <input ng-model="asociado.nombreMadre" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><%=asociado.telefono%></label>
            <div class="col-md-8">
              <input ng-model="asociado.telefonoMadre" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><%=asociado.email%></label>
            <div class="col-md-8">
              <input ng-model="asociado.emailMadre" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      </div><!-- #responsables, 2 rows -->

      <div class="row tab-content" ng-show="tabActivo == 2">
        <div class="col-md-12">
          <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span>
            <%=asociado.copiaEnPapel%></p>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox" value=""><%=asociado.documentoNacionalDeIdentidaddni%></label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""><%=asociado.cartillaSegSocialTarjetaSip%></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox" value=""><%=asociado.fichaMedica%></label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""><%=asociado.cartillaDeVacunaciones%></label>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content" ng-show="tabActivo == 4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 control-label"><%=asociado.estudios%></label>
              <div class="col-md-9">
                <input ng-model="asociado.estudios" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"><%=asociado.profesion%></label>
              <div class="col-md-9">
                <input ng-model="asociado.profesion" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"><%=asociado.titulacion%></label>
              <div class="col-md-9">
                <div class="checkbox"><label><input type="checkbox" value=""><%=asociado.monitorDeTiempoLibre%></label></div>
                <div class="checkbox"><label><input type="checkbox" value=""><%=asociado.directorDeCampamento%></label></div>
                <div class="checkbox"><label><input type="checkbox" value=""><%=asociado.formadorDeAnimadores%></label></div>
                <div class="checkbox"><label><input type="checkbox" value=""><%=asociado.manipuladorDeAlimentos%></label></div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 7px">
            <p style="margin-left: 5px"><strong><%=asociado.cursosLluernaRealizados%></strong></p>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th><%=asociado.curso%></th>
                  <th><%=asociado.fecha%></th>
                  <th><%=asociado.calificacion%></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="6"><%=asociado.ningunCursoRealizado%><br>
                    <small><%=asociado.asociado.notaLosCursosLluernaPreviosAlNoSeMuestran%></small>
                  </td>
                </tr>
                <tr class="hidden">
                  <td>Específico de Ramas</td>
                  <td>01/12/2010</td>
                  <td>Apto</td>
                </tr>
                <tr class="hidden">
                  <td>Manipulador de alimentos</td>
                  <td>12/05/2011</td>
                  <td>Apto</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="tab-content tab-cargos" ng-show="tabActivo == 6">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label" style="text-align: left; padding-left: 0"><%=asociado.puntosCovol%></label>
            <div class="col-md-9">
              <p class="form-control-static">{{asociado.puntosCovol}}</p>
            </div>
          </div>
          <div class="form-group">
            <p class="small"><%=asociado.puntosCovolExplicacion%></p>
            <p><i class="fa fa-heart-o"></i> <%= asociado.puntosCovolRecomendados %>.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group add-element gestion-cargos">
              <span class="input-group-addon"><%= asociado.anadirCargo %></span>
              <input type="text" class="form-control" ng-model="nuevoCargo" ng-keydown="asignarCargoCustom($event)">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%=asociado.otrosCargos%> <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="javascript:" ng-click="asignarCargo(1)"><%=asociado.jefeDeGrupo%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(2)"><%=asociado.subjefeDeGrupo%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(3)"><%=asociado.tesorero%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(4)"><%=asociado.secretario%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(5)"><%=asociado.dinamizadorDeKraal%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(6)"><%=asociado.responsableDeProgresionPersonal%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(7)"><%=asociado.responsableDeMaterial%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(8)"><%=asociado.consiliario%></a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:" ng-click="asignarCargo(9)"><%=asociado.presidenciaDelComite%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(10)"><%=asociado.tesoreriaDelComite%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(11)"><%=asociado.secretariaDelComite%></a></li>
                  <li><a href="javascript:" ng-click="asignarCargo(12)"><%=asociado.vocalDelComite%></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group" style="padding-left: 12px">
            <table class="table table-condensed table-hover table-bordered">
              <thead>
                <tr>
                  <th class="text-center gestion-cargos">#</th>
                  <th><%=asociado.cargo %></th>
                  <th><%=asociado.puntos%></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cargo in asociado.cargos" ng-class="{'editable': cargo.ambito !== 'F'}">
                  <td class="text-center gestion-cargos"><a href="javascript:" ng-click="eliminarCargo(cargo.id)"><span class="glyphicon glyphicon-remove"></span></a></td>
                  <td>{{cargo | cargo}}</td>
                  <td class="text-right">{{cargo.puntos}}</td>
                </tr>
                <tr ng-show="!(asociado.cargos) || asociado.cargos.length == 0">
                  <td colspan="3"><%=asociado.noHayCargos%></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="tab-content tab-notas" ng-show="tabActivo == 5">
        <textarea ng-model="asociado.notas" class="form-control" rows="5"
          placeholder="<%=asociado.notasExplicacion%>"></textarea>
      </div>
    </form>

  </div>
</div>
</div>

<div cudu-modal="modal.clausulaDeberSecreto" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body"><%= asociado.clausulaDeberSecreto %></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modal.clausulaDeberSecreto = false"><%= asociado.clausulaDeberSecretoEntendido %></button>
  </div>
</div>
</div>
</div>

<div cudu-modal="modal.debeSeleccionarAsociado" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body" style="min-height: 140px; padding-right: 20px;">
    <p><img src="images/seleccion_multiple.gif" class="img-thumbnail pull-left" style="margin-right: 20px">
      <%= asociado.ningunoSeleccionado %></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modal.debeSeleccionarAsociado = false"><%= asociado.ningunoSeleccionadoEntendido %></button>
  </div>
</div>
</div>
</div>

<div cudu-modal="modal.eliminar" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body">
    <p><%=asociado.confirmarEliminarAsociado%></p>
    <p><strong><%=asociado.asociado%>:</strong> {{asociado.nombre}} {{asociado.apellidos}}<br/>
      <strong><%=asociado.rama%>:</strong> {{asociado | rama}}<br/>
      <strong><%=asociado.identificador%>: </strong> {{asociado.grupoId}}-{{asociado.id}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="eliminar(asociado.id)"><%=asociado.eliminar%></button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modal.eliminar = false"><%=asociado.deshacer%></button>
  </div>
</div>
</div>
</div>
