<!--<div class="container contenedor-central cursos-listado" ng-controller="CursoController as cursos">
  <div class="row">
    <div class="col-md-12">
      <div class="mat-toolbar">
        <form class="form form-inline" autocomplete="off">
          <div class="form-group pull-right">
            <a href="<%= cursos.linkContactoLluerna %>" class="btn btn-default"><i class="fa fa-envelope"></i>&nbsp; <%= cursos.contacto %></a>
          </div>
        </form>
      </div>
      <div class="mensaje">
        * <%= cursos.recuerdaInscripcionA %>
        <a href="https://drive.google.com/file/d/0BzN1VMFJyHd3RzV2WWluN19jZ00/view?pli=1" target="_blank"><%= cursos.recuerdaInscripcionB %></a>.
      </div>
      <div class="tabla">
        <p ng-show="!cursos"><%= cursos.noHayCursosParaMostrar %></p>
        <div class="row">
          <%
          // TODO Deberiamos crear una directiva para esto
          for(var i = 0; i < 3; i++) { %>
          <div class="col-md-4">
            <div class="curso"
              ng-repeat="c in cursos.cursos[<%=i%>] track by c.id"
              ng-class="{inscrito: c.usuarioInscrito, completo: c.disponibles === 0, flash: c.operacionEnCurso === false}">
              <div class="contenido">
                <h3>{{c.titulo}}</h3>
                <div class="plazas">
                  <span class="estado" ng-show="c.usuarioInscrito && !c.usuarioListaEspera"><%= cursos.inscrito %></span>
                  <span class="estado" ng-show="c.usuarioInscrito && c.usuarioListaEspera"><%= cursos.enListaEspera %></span>
                  <span class="estado" ng-show="!c.usuarioInscrito && c.disponibles == 0"><%= cursos.completo %></span>
                  {{c.disponibles}} <%= cursos.plazasDisponibles %><br/>
                  {{c.plazoRestante}}
                </div>
                <div contenteditable><%= cursos.fechas %>: {{c.descripcionFechas}}</div>
                <div contenteditable><%= cursos.lugar %>: {{c.descripcionLugar}}</div>
              </div>
              <div class="toolbar" ng-class="{disabled: !c.plazoCerrado || c.operacionEnCurso}">
                <a ng-click="cursos.inscribir(c)" id="btnInscribir" class="btn btn-default" href="javascript:"><%= cursos.inscribirse %></a>
                <a ng-click="cursos.desinscribir(c)" id="btnCancelar" class="btn btn-default" href="javascript:"><%= cursos.cancelar %></a>
                <a ng-click="cursos.inscribir(c)" id="btnListaEspera" class="btn btn-default" href="javascript:"><%= cursos.listaEspera %></a>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>-->
