<div class="container contenedor-central cursos-listado" ng-controller="CursoController as cursos">
  <div class="row">
    <div class="col-md-12">
      <div class="mat-toolbar">
        <form class="form form-inline" autocomplete="off">
          <div class="form-group pull-right">
            <a href="<%= cursos.linkContactoLluerna %>" class="btn btn-default"><i class="fa fa-envelope"></i>&nbsp; <%= cursos.contacto %></a>
          </div>
        </form>
      </div>
      <div class="tabla">
        <p ng-show="!cursos"><%= cursos.noHayCursosParaMostrar %></p>
        
        <div class="row">
          <div class="col-md-4">
            <div class="curso" ng-repeat="c in cursos.cursos">
              <div class="contenido">
                <h3>{{c.titulo}}</h3>
                <div class="plazas">
                  <span class="estado">Inscrito</span>
                  {{c.plazas}} PLAZAS, {{c.inscritos}} DISPONIBLES
                </div>
                <div contenteditable>{{c.descripcionFechas}}</div>
                <div contenteditable>{{c.descripcionLugar}}</div>
              </div>
              <div class="toolbar">
                <a id="btnInscribir" class="btn btn-default" href="#">INSCRIBIRSE</a>
                <a id="btnCancelar" class="btn btn-default" href="#">CANCELAR INSCRIPCION</a>
                <a id="btnListaEspera" class="btn btn-default" href="#">LISTA ESPERA</a>
              </div>
            </div>
            
            <div class="curso inscrito">
              <div class="contenido">
                <h3>{{cursos.cursos.length}}</h3>
                <div class="plazas">
                  <span class="estado">Inscrito</span>
                  33 PLAZAS, 0 DISPONIBLES
                </div>
                <div>27 y 28 de mayo</div>
                <div>Preventori d'Alcoi y Alborache</div>
              </div>
              <div class="toolbar">
                <a id="btnInscribir" class="btn btn-default" href="#">INSCRIBIR</a>
                <a id="btnCancelar" class="btn btn-default" href="#">CANCELAR INSCRIPCION</a>
                <a id="btnListaEspera" class="btn btn-default" href="#">LISTA ESPERA</a>
              </div>
            </div>
            <div class="curso completo">
              <div class="contenido">
                <h3>Vida en la naturaleza</h3>
                <div class="plazas">
                  <span class="estado">Completo</span>
                  33 PLAZAS, 0 DISPONIBLES
                </div>
                <div>27 y 28 de mayo</div>
                <div>Preventori d'Alcoi y Alborache</div>
              </div>
              <div class="toolbar">
                <a id="btnInscribir" class="btn btn-default" href="#">INSCRIBIR</a>
                <a id="btnCancelar" class="btn btn-default" href="#">CANCELAR INSCRIPCION</a>
                <a id="btnListaEspera" class="btn btn-default" href="#">LISTA ESPERA</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="curso">
              <div class="contenido">
                <h3>Específico de ramas: Pioneros</h3>
                <div class="plazas">33 PLAZAS, 0 DISPONIBLES</div>
                <!-- <div><a href="#">Borrar inscripción</a> - Plazas: 34, Disponibles: 12</div>               -->
                <div>27 y 28 de mayo</div>
                <div>Preventori d'Alcoi y Alborache</div>
              </div>
              <div class="toolbar">
                <a class="btn btn-default" href="#">INSCRIBIRSE</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="curso">
              <div class="contenido">
                <h3>Contenidos Básicos</h3>
                <div class="plazas">33 PLAZAS, 0 DISPONIBLES</div>
                <!-- <div><a href="#">Borrar inscripción</a> - Plazas: 34, Disponibles: 12</div>               -->
                <div>27 y 28 de mayo</div>
                <div>Preventori d'Alcoi y Alborache</div>
              </div>
              <div class="toolbar">
                <a class="btn btn-default" href="#">INSCRIBIRSE</a>
              </div>
            </div>
          </div>
        </div>        
        
            <!-- <tr ng-repeat="a in actividades | filter:busqueda | orderBy:'-id' track by a.id" ng-click="detalle(a.id)">
              <th scope="row">{{a.id}}</th>
              <td>{{a.nombre}}</td>
              <td>{{a.fechaInicio | fechaArray}}</td>
              <td>{{a.fechaFin | fechaArray}}</td>
              <td>{{a.lugar}}</td>
              <td>{{a.rama | rama:'rama.cualquiera'}}</td>
              <td>{{a.precio}}</td>
              <td>{{a.responsable}}</td>
              <td>{{a.creadaPor}}</td>
            </tr>     -->

        
      </div>
    </div>
  </div>
</div>



