<div class="container contenedor-central grupo">
  <div class="row">
    <div id="panelEstadisticas" class="col-md-4">
      <div class="material-panel-level-2">
        GRÁFICAS
      </div>
    </div>
    <div id="panelEdicion" class="col-md-8">
      <div class="material-panel-level-2">
      <div class="mat-toolbar text-right">
        <button type="button" class="btn btn-default" ng-click="guardar(asociado.id)">GUARDAR</button>
      </div>
      <div class="mat-toolbar-expand"><h1>{{grupo.nombre}}</h1></div>
      <form name="formAsociado" class="form-horizontal form-cudu form-edicion" role="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 control-label">Nombre</label>
              <div class="col-md-9">
                <input ng-model="grupo.nombre" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Asociación</label>
              <div class="col-md-9">
                <input ng-model="grupo.asociacion" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Comarca</label>
              <div class="col-md-9">
                <input ng-model="grupo.comarca" type="text" class="form-control" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 control-label">Aniversario</label>
              <div class="col-md-9">
                <input ng-model="grupo.aniversario" type="text" class="form-control" placeholder="dd/mm/aaaa">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Entidad Patr.</label>
              <div class="col-md-9">
                <input ng-model="grupo.entidadPatrocinadora" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs">
          <li ng-class="{active: tabActivo == 0}"><a href="javascript:" ng-click="seleccionarTab(0)">Contacto</a></li>
          <li class="disabled"><a href="javascript:">Liquidaciones</a></li>
          <li class="disabled"><a href="javascript:">Cargos</a></li>
          <li class="disabled"><a href="javascript:">Histórico</a></li>
        </ul>

        <div class="row tab-content" ng-show="tabActivo == 0">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 control-label">Dirección</label>
              <div class="col-md-9">
                <textarea ng-model="grupo.direccion" class="form-control" rows="2"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">C. Postal</label>
              <div class="col-md-9">
                <input ng-model="grupo.codigoPostal" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Municipio</label>
              <div class="col-md-9">
                <input ng-model="grupo.municipio" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 control-label">Teléfono 1</label>
              <div class="col-md-9">
                <input ng-model="grupo.telefono1" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Teléfono 2</label>
              <div class="col-md-9">
                <input ng-model="grupo.telefono2" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">E-Mail</label>
              <div class="col-md-9">
                <input ng-model="grupo.email" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Pág. Web</label>
              <div class="col-md-9">
                <input ng-model="grupo.web" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
