<div cudu-modal="modal.clausulaDeberSecreto" id="modalLoginDeberSecreto" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"><%= asociado.clausulaDeberSecreto %></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modal.clausulaDeberSecreto = false"><%= asociado.clausulaDeberSecretoEntendido %></button>
      </div>
    </div>
  </div>
</div>


<div class="container contenedor-central">
  <div class="row">
    <div id="explicacion" class="col-md-7">
      <img src="images/logo.png">
      <%= login.mensajeBienvenida %>
      <p><a href="/terminos_<%= idioma.codigo %>.html" target="_blank"><%= login.politicaPrivacidad %></a> | <a href="https://github.com/fev/cudu" target="_blank">Código Fuente y Licencia</a>
    </div>
    <div class="col-md-5">
      <div class="material-panel-level-3">
        <form id="loginForm" class="form-cudu" ng-class="{cambioPassword: cambioPassword }" method="POST" action="/login/" novalidate="novalidate">
          <h1><%= login.bienvenido %></h1>
          <p class="modoCambioPassword"><%= login.cambioExplicacion %></p>
          <div class="alert alert-danger" ng-show="error">
            {{error}}
          </div>
          <div class="alert alert-info" ng-show="completado">
            {{completado}}
          </div>
          <div class="form-group">
            <label for="username" class="control-label"><%= login.email %></label>
            <input type="text" class="form-control" id="txtEmail" ng-model="email" ng-keypress="detectarMayusculas($event)" name="email" value=""
              placeholder="baden@example.com" autofocus autocapitalize="off" spellcheck="false">
            <span class="help-block small modoCambioPassword"><%= login.duda %></span>
          </div>
          <div class="form-group modoLogin">
            <label for="password" class="control-label"><%= login.password %></label>
            <input type="password" class="form-control" id="txtPassword" ng-model="password" ng-keypress="detectarMayusculas($event)"
              name="password" value="" autocapitalize="off" spellcheck="false">
            <span class="help-block text-warning" ng-show="mayusculas">
              <span class="glyphicon glyphicon-warning-sign"></span>
              <%= login.bloqueoMayusculas %>
            </span>
          </div>
          <div id="recaptcha"></div>
          <div class="form-group modoLogin">
            <p>
              <span id="checkClausula" class="form-control-static glyphicon glyphicon-unchecked" data-toggle="modal" data-target="#modalLoginDeberSecreto" ng-click="aceptaClausula()"></span>
              <%= login.aceptoClausula %>
            </p>
          </div>
          <div class="row modoLogin">
            <div class="col-md-6">
              <button type="button" ng-click="login()" class="btn btn-default btn-primary"><%= login.entrar %></button>
            </div>
            <div class="col-md-6 text-right">
              <a href="javascript:" ng-click="mostrarOlvidoPassword()"><%= login.olvidoPassword %></a>
            </div>
          </div>
          <div class="row modoCambioPassword">
            <div class="col-md-12">
              <button type="button" ng-click="enviarCambioPassword()" class="btn btn-default btn-danger"><%= login.enviar %></button>
              <button type="button" ng-click="ocultarEnvioPassword()" class="btn btn-default"><%= login.cancelar %></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 60px">
    <div class="col-md-4">
      <canvas id="doughnutJoven" class="chart chart-doughnut" data="graficas.datosPorRamaTipo.joven" labels="etiquetas.rama" colours="colours" legend="Jóvenes por Rama"></canvas>
      <div class="titulo"><%= login.jovenesPorRama %></div>
    </div>
    <div class="col-md-4">
      <canvas id="historico" class="chart chart-line" data="graficas.datosPorPeriodoTipo.datos" labels="graficas.datosPorPeriodoTipo.etiquetas"
        legend="true" series="graficas.datosPorPeriodoTipo.series" colours="coloresHistorico" options="opcionesHistorico" height="200">
    </canvas>
    </div>
    <div class="col-md-4">
      <canvas id="doughnutVoluntario" class="chart chart-doughnut" data="graficas.datosPorRamaTipo.voluntario" labels="etiquetas.rama" colours="colours" legend="Voluntarios por Rama"></canvas>
      <div class="titulo"><%= login.voluntariosPorRama %></div>
    </div>
  </div>
</div>


<div style="position: absolute; bottom: 10px; right: 10px">
  <span style="color: #B2EBF2; margin-right: 5px">Autologin</span>
  <div class="btn-group btn-group-xs" role="group">
    <button type="button" ng-click="__dbgAutoLogin('baden@example.com')" class="btn btn-default">Asociado</button>
    <button type="button" ng-click="__dbgAutoLogin('jack@example.com')" class="btn btn-default">Limitado</button>
    <button type="button" ng-click="__dbgAutoLogin('fev@example.com')" class="btn btn-default">FEV</button>
    <button type="button" ng-click="__dbgAutoLogin('sdc@example.com')" class="btn btn-default">Tecnico SdC</button>
    <button type="button" ng-click="__dbgAutoLogin('lluerna@example.com')" class="btn btn-default">Lluerna</button>
  </div>
</div>



<!-- <div style="background-color: #2E7D32; width: 100%; height: 20%; position: absolute; bottom: 0">&nbsp;</div> -->
