<div class="container contenedor-central permisos" ng-controller="PermisosController as ctrl">
  <div class="row">
    <div id="panelPermisos" class="col-md-12">
      <div class="material-panel-level-2">
        <div class="mat-toolbar text-right">
          <button ng-click="ctrl.mostrarDialogoCrearUsuario()" type="button" class="btn btn-default"><i class="fa fa-plus"></i> &nbsp;<%=permisos.nuevoUsuario%></button>
        </div>
        <div class="mat-toolbar-expand"><h1><%=permisos.titulo%></h1></div>
        <div class="panel-content">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th><%=permisos.nombre %></th>
                <th><%=permisos.email %></th>
                <th><%=permisos.calidadContraseña %></th>
                <th><%=permisos.ultimoUso %></th>
                <th><%=permisos.infoGrupo %></th>
                <th><%=permisos.asociados %></th>
                <th><%=permisos.cuenta %></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="u in usuarios">
                <td>{{u.nombreCompleto}}</td>
                <td>{{u.email}}</td>
                <td><rating score="u.calidadPassword" /></td>
                <td>{{u.ultimoUso | desdeHace}}</td>
                <td class="accionable">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      {{ctrl.obtenerPermisosGrupo(u)}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="ctrl.establecerPermisosGrupo(u, false, false)"><%=permisos.edicion%></a></li>
                      <li><a href="javascript:" ng-click="ctrl.establecerPermisosGrupo(u, true, false)"><%=permisos.soloLecturaGrupo%></a></li>
                      <li><a href="javascript:" ng-click="ctrl.establecerPermisosGrupo(u, true, true)"><%=permisos.sinAcceso%></a></li>
                    </ul>
                  </div>
                </td>
                <td class="accionable">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      {{ctrl.obtenerPermisosAsociados(u)}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="ctrl.estalecerPermisosAsociado(u, false, false, false)"><%=permisos.todos%></a></li>
                      <li><a href="javascript:" ng-click="ctrl.estalecerPermisosAsociado(u, false, false, true)"><%=permisos.soloLectura%></a></li>
                      <li><a href="javascript:" ng-click="ctrl.estalecerPermisosAsociado(u, false, true,  false)"><%=permisos.soloRama%></a></li>
                      <li><a href="javascript:" ng-click="ctrl.estalecerPermisosAsociado(u, false, true,  true)"><%=permisos.soloRamaSoloLectura%></a></li>
                      <li><a href="javascript:" ng-click="ctrl.estalecerPermisosAsociado(u, true,  true,  true)"><%=permisos.soloSusDatos%></a></li>
                    </ul>
                  </div>
                </td>
                <td class="accionable">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <%=permisos.activa %> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="ctrl.mostrarDialogoCambioEmail(u)"><%=permisos.cambiarEmail %></a></li>
                      <li><a href="javascript:" ng-click="ctrl.mostarDialogoRecuperarPassword(u)"><%=permisos.recuperarContraseña %></a></li>
                      <li class="divider"></li>
                      <li><a href="javascript:" ng-click="ctrl.mostrarDialogoEliminar(u)"><%=permisos.desactivarCuenta %></a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="panelRegistro" class="hidden">
      <div class="material-panel-level-2">
        <div class="mat-toolbar">
          <strong>Registro de Actividad</strong>
          <p class="small">Se muestran eventos del último mes.</p>
        </div>
        <div class="panel-content">
          <p><span class="small">12/01/15 22:01:17</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-trash-o"></i> Eliminó el asociado 1192.</p>
          <p><span class="small">12/01/15 22:00:33</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-pencil"></i> Editó el asociado 3421.</p>
          <p><span class="small">12/01/15 21:58:21</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-pencil"></i> Editó el asociado 1456.</p>
          <p><span class="small">12/01/15 21:54:12</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-sign-in"></i> Entró a Cudú.</p>
          <p><span class="small">12/01/15 21:20:23</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-unlock-alt"></i> Cambió su password.</p>
          <p><span class="small">12/01/15 21:00:32</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-unlock-alt"></i> Solicitó cambiar su password.</p>
          <p class="log-warn"><span class="small">11/01/15 16:20:19</span><br/> Aline Acosta Ericksön <br><i class="fa fa-exclamation-circle"></i> Utilizó una contraseña incorrecta.</p>
          <p class="hidden"><a href="">Cargar mas eventos</a></p>
          <i class="hidden">No hay eventos disponibles.</i>
        </div>
      </div>
    </div>
  </div>

  <div id="dlgCambiarEmail" class="modal fade" ng-class="{'progreso': cambiandoEmail}">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <form>
        <div class="form-group">
          <%= permisos.cambioEmail %>
        </div>
        <div class="form-group">
          <input ng-model="usuarioActual.nuevoEmail" id="dlgCambiarEmailInput" type="email"
          ng-keydown="$event.which === 13 && ctrl.cambiarEmail()" class="form-control"
          placeholder="Email" spellcheck="false" autocomplete="off">
        </div>
        <div class="form-group errores" ng-show="errorCambioEmail != null">
          * {{errorCambioEmail}}
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="ctrl.cambiarEmail()" type="button" class="btn btn-primary">
        <i class="fa fa-spinner fa-spin solo-progreso"></i><%= reset.cambiar %>
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= reset.volver %></button>
    </div>
  </div>
  </div>
  </div>

  <div id="dlgEliminarUsuario" class="modal fade" ng-class="{'progreso': eliminandoUsuario}">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <p><%=permisos.eliminarUsuario %></p>
      <form class="form-horizontal">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="eliminarTambienDatos"> <%=permisos.eliminarTambienDatos %>
          </label>
        </div>
        <div class="errores" ng-show="errorEliminar != null">{{errorEliminar}}</div>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="ctrl.eliminar()" type="button" class="btn btn-primary">
        <i class="fa fa-spinner fa-spin solo-progreso"></i> <%= permisos.desactivar %>
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= reset.volver %></button>
    </div>
  </div>
  </div>
  </div>

  <div id="dlgRecuperarPassword" class="modal fade" ng-class="{'progreso': recuperandoPassword}">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <p><%=permisos.recuperarPassword %></p>
      <form class="form-horizontal">
        <div class="errores" ng-show="errorRecuperarPassword != null">{{errorRecuperarPassword}}</div>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="ctrl.recuperarPassword()" type="button" class="btn btn-primary">
        <i class="fa fa-spinner fa-spin solo-progreso"></i> <%= permisos.recuperar %>
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= reset.volver %></button>
    </div>
  </div>
  </div>
  </div>

  <div id="dlgCrearUsuario" class="modal fade" ng-class="{'progreso': creandoUsuario}">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="form-group">
        <h1><%= permisos.nuevoUsuario %></h1>
        <p><%= permisos.crearUsuario %></p>
        <p><%= permisos.recuerda %></p>
      </div>
      <div class="form-group">
        <input id="dlgCrearUsuarioInput" class="form-control typeahead"
          spellcheck="false" autocomplete="off"
          placeholder="Empieza a escribir el nombre del asociado para seleccionarlo">
      </div>
      <div class="form-group">
        <input id="dlgCrearUsuarioEmail" ng-model="nuevoUsuario.email" type="email" class="form-control"
          placeholder="Email" spellcheck="false" autocomplete="off">
      </div>
      <div class="form-group hidden">
        <strong>Selección</strong>: Adrian Castro
      </div>
      <div class="form-group errores" ng-show="errorCrearUsuario != null">
        * {{errorCrearUsuario}}
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="ctrl.crearUsuario()" type="button" class="btn btn-primary">
        <i class="fa fa-spinner fa-spin solo-progreso"></i> <%= permisos.crear %>
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= reset.volver %></button>
    </div>
  </div>
  </div>
  </div>

</div>
