<div class="container contenedor-central grupo">
  <div class="row">
    <div id="panelPermisos" class="col-md-12">
      <div class="material-panel-level-2">
        <div class="mat-toolbar text-right">
          <button type="button" class="btn btn-default"><i class="fa fa-plus"></i> &nbsp;Nuevo Usuario</button>
        </div>
        <div class="mat-toolbar-expand"><h1>Permisos y seguridad</h1></div>
        <div class="panel-content">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>                
                <th>Nombre</th>
                <th>Email</th>
                <th>Calidad Contraseña</th>
                <th>Último uso</th>                  
                <th>Info. Grupo</th>
                <th>Asociados</th>
                <th>Cuenta</th>
              </tr>
            </thead>
            <tbody>
              <tr>                
                <td>{{actual.nombreCompleto}}</td>
                <td>jack.sparrow@hotmail.com</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></td>
                <td>{{actual.fechaUsuarioVistoTxt}}</td>                  
                <td class="accionable">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Edición <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, 'R')">Edición</a></li>
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, 'W')">Sólo lectura</a></li>
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, null)">Sin Acceso</a></li>
                    </ul>
                  </div>
                </td>
                <td class="accionable">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Todos <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, 'R')">Todos</a></li>
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, 'R')">Todos, sólo lectura</a></li>
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, 'W')">Sólo a su rama</a></li>
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, 'W')">Sólo a su rama, sólo lectura</a></li>
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, null)">Sólo sus datos</a></li>
                      <li><a href="javascript:" ng-click="establecerPermisoGrupo(u, null)">Sin acceso</a></li>
                    </ul>
                  </div>
                </td>
                <td class="accionable">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Activa <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="">Cambiar email</a></li>
                      <li><a href="javascript:" ng-click="">Recuperar contraseña</a></li>
                      <li class="divider"></li>
                      <li><a href="javascript:" ng-click="">Eliminar cuenta</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>                
                <td>Quincy Cunningham Parrish</td>
                <td>Expedición</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>hace media hora</td>
                <td>Edición</td>
                <td>Todos</td>
                <td>Activa</td>
              </tr>
              <tr>
                <td>Jack Sparrow</td>
                <td>Ruta</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></td>
                <td>hace 3 meses</td>
                <td>Sólo lectura</td>
                <td>Sólo su rama</td>
                <td>Activa</td>
              </tr>
              <tr>
                <td>Aline Acosta Ericksön</td>
                <td>Ruta</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></td>
                <td>hace 2 semanas</td>
                <td>Sin acceso</td>
                <td>Sólo sus datos</td>
                <td>Activa</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="panelRegistro" class="hidden">
      <div class="material-panel-level-2">
        <div class="mat-toolbar">
          <strong>Registro de Actividad</strong>  
          <p class="small">Se muestran eventos del último mes.</p>
        </div>
        <div class="panel-content">
          <p><span class="small">12/01/15 22:01:17</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-trash-o"></i> Eliminó el asociado 1192.</p>
          <p><span class="small">12/01/15 22:00:33</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-pencil"></i> Editó el asociado 3421.</p>
          <p><span class="small">12/01/15 21:58:21</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-pencil"></i> Editó el asociado 1456.</p>
          <p><span class="small">12/01/15 21:54:12</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-sign-in"></i> Entró a Cudú.</p>
          <p><span class="small">12/01/15 21:20:23</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-unlock-alt"></i> Cambió su password.</p>
          <p><span class="small">12/01/15 21:00:32</span><br/> Quincy Cunningham Parrish <br><i class="fa fa-unlock-alt"></i> Solicitó cambiar su password.</p>
          <p class="log-warn"><span class="small">11/01/15 16:20:19</span><br/> Aline Acosta Ericksön <br><i class="fa fa-exclamation-circle"></i> Utilizó una contraseña incorrecta.</p>
          <p class="hidden"><a href="">Cargar mas eventos</a></p>        
          <i class="hidden">No hay eventos disponibles.</i>
        </div>
      </div>
    </div>
  </div>
</div>
