<div>
    <div class="container contenedor-central" infinite-scroll="obternerAsociados()">
        <div class="row">
            <div id="listado-asociados">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Búsqueda Avanzada</div>
                <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 separador-dcho">
                    <div class="row padded">
                        <div class="col-md-6">
                        <div class="row">
                            <label>Tipo</label>
                            <div class="btn-group btn-group-sm">
                            <a href="javascript:" ng-click="activar('Joven')" ng-class="{'active': filtroAsociadoTipo.isActivo('Joven')}" class="btn">Joven</a>
                            <a href="javascript:" ng-click="activar('Kraal')" ng-class="{'active': filtroAsociadoTipo.isActivo('Kraal')}" class="btn">Kraal</a>
                            <a href="javascript:" ng-click="activar('Comite')" ng-class="{'active': filtroAsociadoTipo.isActivo('Comite')}" class="btn">Comité</a>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="row">
                            <label>Sexo</label>
                            <div class="btn-group btn-group-sm">
                            <a href="javascript:" ng-click="filtraPorSexo('M')" ng-class="{'active': filtro.sexo === 'M'}" class="btn">Masculino</a>
                            <a href="javascript:" ng-click="filtraPorSexo('F')" ng-class="{'active': filtro.sexo === 'F'}" class="btn">Femenino</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row padded">
                        <label>Rama</label>
                        <div class="btn-group btn-group-sm">
                        <a href="javascript:" ng-click="filtraRama('colonia')" ng-class="{'active': esRama('colonia')}" class="btn">Colonia</a>
                        <a href="javascript:" ng-click="filtraRama('manada')" ng-class="{'active': esRama('manada')}" class="btn">Manada</a>
                        <a href="javascript:" ng-click="filtraRama('exploradores')" ng-class="{'active': esRama('exploradores')}" class="btn">Explorador</a>
                        <a href="javascript:" ng-click="filtraRama('expedicion')" ng-class="{'active': esRama('expedicion')}" class="btn">Expedicion</a>
                        <a href="javascript:" ng-click="filtraRama('ruta')" ng-class="{'active': esRama('ruta')}" class="btn">Ruta</a>
                        </div>
                    </div>
                    <div class="row padded">
                        <div class="input-group">
                        <input ng-model="busqueda" type="text" cudu-enter="filtraPorNombre()" class="form-control input-sm" placeholder="Búsqueda por Nombre">
                        <span class="input-group-btn">
                            <button ng-click="limpiarFiltro()" class="btn btn-default btn-danger-hover btn-sm" type="button" tooltip="Limpiar búsqueda y mostrar todos">
                            <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="row padded">
                        <label>Asociación</label>
                        <div class="btn-group btn-group-sm">
                        <a href="javascript:" ng-click="SdCActivo=!SdCActivo" ng-class="{'active': SdCActivo}" class="btn">SdC</a>
                        <a href="javascript:" ng-click="SdAActivo=!SdAActivo" ng-class="{'active': SdAActivo}" class="btn">SdA</a>
                        <a href="javascript:" ng-click="MEVActivo=!MEVActivo" ng-class="{'active': MEVActivo}" class="btn">MEV</a>
                        <a href="javascript:" ng-click="VoluntariosActivo=!VoluntariosActivo" ng-class="{'active': VoluntariosActivo}" class="btn">Voluntarios</a>
                        </div>
                    </div>
                    <div class="row padded">
                        <label>Grupo</label>
                        <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Selecciona grupo
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="grupo in grupos"><a href="#">{{grupo}}</a></li>
                        </ul>
                        </div>

                        <div class="btn-group">
                        <a href="javascript:" class="">
                            <span class="glyphicon glyphicon-user"></span> Ver Grupo
                        </a>
                        </div>
                    </div>
                    <div class="row padded has-warning">
                        <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-click="mostrarInactivos()"> Mostrar Inactivos
                        </label>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <table class="table table-hover ">
                <thead>
                    <tr>
                    <th width="10%" ng-click="GrupoAsc=!GrupoAsc" ng-class="{'dropup': GrupoAsc}">
                        Grupo
                        <span class="caret"></span>
                    </th>
                    <th width="5%">Id</th>
                    <th width="10%">Nombre</th>
                    <th width="10%" ng-click="ApellidosAsc=!ApellidosAsc" ng-class="{'dropup': ApellidosAsc}">
                        Apellidos
                        <span class="caret"></span>
                    </th>
                    <th width="10%" ng-click="tipoAsc=!tipoAsc" ng-class="{'dropup': tipoAsc}">
                        Tipo
                        <span class="caret"></span>
                    </th>
                    <th width="10%" ng-click="RamaAsc=!RamaAsc" ng-class="{'dropup': RamaAsc}">
                        Rama
                        <span class="caret"></span>
                    </th>
                    <th width="10%">Email</th>
                    <th width="5%">Teléfono</th>
                    <th width="15%">Creado</th>
                    <th width="15%">Actualizado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in asociados">
                    <td>{{a.grupoId}}</td>
                    <td>{{a.id}}</td>
                    <td>{{a.nombre}}</td>
                    <td>{{a.apellidos}}</td>
                    <td>{{a.tipo}}</td>
                    <td>{{a.rama}}</td>
                    <td>{{a.email}}</td>
                    <td>{{a.telefono}}</td>
                    <td>{{a.creado | timeStamp}}</td>
                    <td>{{a.actualizado | timeStamp}}</td>
                    </tr>
                </tbody>
                </table>
                <div class="panel-footer">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
