
.asociado {
  #txtBusqueda {
    font-weight: 300;
    padding: 6px;
    @include box-shadow(none);
    @include border-radius(0px);
    background-color: transparent; border: 1px solid transparent;
    &:hover, &:focus { border-bottom: 1px solid $input-border; }
    &:focus {
      border-bottom: 1px solid $material-cyan-500;
      color: $material-grey-900;
      outline: 0;
      @include box-shadow(none);
    }
  }

  #panelLista {
    padding: 0; border-right: 1px solid $input-border;
    .mat-toolbar {
      padding-left: 10px; padding-right: 10px;
      background-color: $material-grey-200;
      border-bottom: 1px solid $input-border;
      .btn { padding: 5px 7px }
      .dropdown-menu { margin-top: -28px }
      .btn:hover, .btn-group.open .dropdown-toggle { background-color: $material-grey-50; }
      .disabled { color: $material-grey-400 }
    }
    .mat-subtoolbar {
      padding: 5px 10px;
      border-bottom: 1px solid $input-border;
      .btn-group .btn+.btn { margin-left: 0 }
      .form-group { margin-bottom: 0; }
    }

    .lista {
      $color-fondo-elemento-hover: #EEE;
      $color-fondo-elemento-seleccionado: $material-yellow-50;
      $color-fondo-elemento-marcado: $material-cyan-500;

      height: 650px; overflow: scroll;

      .elemento {
        display: table; padding: 0;
        border-top: 1px solid #DCDCDC; cursor: pointer;
        &:first-child { border-top: 0 }
        &:hover {  background-color: $color-fondo-elemento-hover; }
        &.eliminado { color: #CCC; }
        .selector {
          display: table-cell; width: 15px; min-width: 15px;
          background: transparent; color: #FFF;
          i { display: none }
        }
        &.marcado .selector, .selector:hover {
          width: 40px; min-width: 40px; text-align: center;
          border-right: 10px solid $color-fondo-elemento-hover;
          background-color: $color-fondo-elemento-marcado;
          i { display: inline }
        }
        &.marcado .selector { border-color: #FFF; }
        &.marcado:hover .selector { border-color: $color-fondo-elemento-hover }
        .datos {
          display: table-cell; width: 100%;
          padding: 15px 16px 15px 0;
          > strong { display: block; font-size: 16px; font-weight: normal; }
          > div { font-size: $font-size-small }
        }
        &.guardado { color: $material-cyan-500; }
        &.cambiosPendientes { color: $material-red-500; }
      }
    }

    .btn-default:focus { background-color: transparent; }
    .btn-default.active { background-color: $material-grey-300; }

    // Campos visibles
    .rama { display: none }
    .contacto { display: none }
    .direccion { display: none }

    .ver-contacto {
      .contacto { display: block }
    }
    .ver-rama {
      .rama { display: block }
    }
    .ver-direccion {
      .direccion { display: block }
    }
  }

  #panelEdicion {
    padding: 0; min-height: 600px;
    i.fa-check-square-o { cursor: pointer }
    #txtRecRama { color: $material-red-700; }
    .form-cudu > ul.nav { margin-top: 0 }
    .mat-toolbar, .mat-toolbar-expand { background-color: $material-grey-50; }
    .mat-toolbar {
      .btn-default:hover { color: #555; background-color: $material-grey-300; }
      .btn-primary:hover { color: #555; background-color: $material-grey-300; }
      .btn-danger:hover { color: #FFF; background-color: $material-red-300; }
      .btn-success:hover { color: #FFF; background-color: $material-green-300; }
    }
    .btn-group .btn-default:focus { background-color: transparent; }
    .btn-group .btn-default.active { background-color: $material-grey-300; }
    .form-control:focus {
      border-color: $material-cyan-500;
    }

    .tab-cargos {
      .form-group .add-element {
        .input-group-addon { background: inherit; border: 0; font-weight: bold; color: #333 }
        input.form-control { height: 34px }
      }
      .table {
        margin-top: 10px;
        tr > th { font-weight: bold}
        span.glyphicon { visibility: hidden; }
        tr.editable:hover {
          span.glyphicon { visibility: visible; color: $material-red-700 }
        }
      }
    }

    .tab-notas {
      textarea { border: 1px solid $input-border; }
    }
  }
}
