.cursos {
  .cursos-listado {
    @include layout-listado($material-amber-900, $material-amber-100, $material-amber-200);
    
    .curso {
      // border: 1px solid $material-grey-300;
      border: 1px solid $material-grey-200;
      @include box-shadow($material-bottom-shadow-1);
      @include border-radius(1px);
      padding: 0;
      margin-bottom: 20px; 
      .contenido { padding: 24px 16px 6px 16px; }
      h3 { margin: 0; margin-bottom: 8px; font-weight: 300; font-size: 16pt }
      .plazas { color: $material-grey-500; font-size: 90%; font-weight: 100 }
      .estado { display: none; color: $material-grey-500; text-transform: uppercase; padding-right: 8px; font-weight: normal; }
      .toolbar { padding: 6px 8px; border-top: 1px solid $material-grey-200; margin-top: 6px;
        a { text-transform: uppercase; padding: 8px; background-color: #FFF; border: 0; color: $material-grey-700 }
        a:hover { color: $material-amber-800; background-color: $material-amber-100; }
      }
      
      #btnInscribir { display: inline-block; }
      #btnCancelar { display: none; }
      #btnListaEspera { display: none; }
      
      &.completo {
        #btnInscribir { display: none; }
        #btnCancelar { display: none; }
        #btnListaEspera { display: inline-block; }
        .estado { color: $material-red-500; display: inline; }        
        .toolbar a:hover { color: $material-brown-500; background-color: $material-brown-50; }
      }
      &.inscrito {
        #btnInscribir { display: none; }
        #btnCancelar { display: inline-block; }
        #btnListaEspera { display: none; }
        .estado { color: $material-green-500; display: inline; }
        .toolbar a:hover { color: $material-brown-500; background-color: $material-brown-50; }
      }
    }
  }
}