.liquidaciones {
  // #panelPermisos {
  //   padding-left: 0; padding-right: 0;
  //   .mat-toolbar, .mat-toolbar-expand { background-color: #FAFAFA; }
  //   .mat-toolbar {
  //     .btn {
  //       text-transform: uppercase;
  //       &:hover, &:hover .fa { background-color: $material-red-50; color: $material-red-500; }
  //     }
  //   }
  //   table.table .btn {
  //     font-weight: 300; background: transparent;
  //     &:hover { background: #FFF; }
  //   }
  //   .btn-group.open .btn { border-color: transparent; background-color: #FFF }
  //   .btn-group .btn:active:focus { border-color: transparent; }
  // }

  table {
    cursor: pointer;
    a { color: #333; text-decoration: none; text-transform: uppercase; }
    td.editable:hover { background-color: lightyellow }
    tfoot td { font-weight: 400; }
  }

  #panelLiquidaciones { padding-left: 0; padding-right: 0; }
  .panel-content { padding: 20px 40px 20px 30px; }
  h3 { margin-top: 0; font-size: 24px }

  @include paginaMultiPanel();
}
