body .liquidaciones .solo-tecnico { display: none; }
body.rol-tecnico .liquidaciones .solo-tecnico { display: table-cell; }
body.rol-tecnico .liquidaciones .mat-toolbar .solo-tecnico { display: inline-block; }

.liquidaciones {

  .liquidacionesGrupos, .liquidacionesBalance {
    ul.dropdown-menu-right li { text-align: right; }
    ul li {
      i.fa { display: none; }
      &.active {
        i.fa { display: inline-block; }
        a { background-color: $material-teal-100; color: $material-teal-700; }
      }
    }
  }

  .liquidacionesBalance {
    span.emitida { display: inline; }
    span.borrador { display: none; }
    table tr.borrador {
      color: $material-grey-400;
      i.fa-check { visibility: hidden; }
      span.emitida { display: none; }
      span.borrador { display: inline; }
    }

    @media print {
      #dlgEditarLiquidacion { display: none !important; }
      #informacionPago { margin-top: 20px }
    }
  }

  #dlgEditarLiquidacion {
    table tr { cursor: default; margin-top: 23px }
  }

  .modal {
    .solo-progreso { display: none; }
    .progreso .solo-progreso { display: initial; }
    h1 { font-size: 24px; margin-top: 10px; margin-bottom: 20px; font-weight: 300; }
    .form-cudu .form-group { margin: 20px 0px; }
    table { margin-top: 20px; }
    .btn {
      color: $material-teal-700;
      text-transform: uppercase; border-color: transparent;
      i.fa { margin-right: 10px; color: $material-teal-700 }
      &:hover { background-color: $material-teal-100 }
    }
    .btn-primary, .btn-danger {
      font-weight: 400; color: $material-teal-700; background-color: transparent; border-color: transparent;
      &:hover {
        background-color: $material-teal-700; color: #FFFFFF;
        i.fa { color: #FFFFFF }
      }
    }
    // .btn-danger { color: $material-grey-800; }
    .btn-danger:hover {  background-color: $material-red-100; color: $material-red-700; }
    .modal-footer {
      border-top: 0; padding-top: 0px; padding-bottom: 15px;
      .btn+.btn { margin-left: 0 }
    }
  }

  .mat-toolbar .btn {
    &:hover { color: $material-teal-700; background-color: $material-teal-100; }
  }

  table {
    cursor: pointer;
    a { color: #333; text-decoration: none; text-transform: uppercase; }
    td.editable:hover { background-color: lightyellow }
    tfoot td { font-weight: 400; }
  }

  .panelLiquidaciones { padding-left: 0; padding-right: 0; }
  .panel-content { padding: 20px 35px 20px 30px; }
  h3 { margin-top: 0; font-size: 24px }

  .liquidacionesDesglose  {
    table tbody tr { cursor: default; }
    table thead tr {
      cursor: pointer;
      .fa { color: #999; visibility: hidden; }
      th:hover .fa { color: #DDD; visibility: visible; }
      th.activa .fa { visibility: visible; }
      th.activa:hover .fa { color: #999; }
      th.sinOrden { cursor: default; }
    }
    table.estadisticas thead tr { cursor: default; }
    td.text-right, th.text-right { width: 95px; }
    @media print {
      .mat-toolbar { display: none; }
      .mat-toolbar-expand { margin-top: 0; }
      td.text-right, th.text-right { width: auto; }
    }
  }

  @include paginaMultiPanel();
}
