$material-bottom-shadow-1 : 0  1px  3px rgba(0,0,0,0.12), 0  1px  2px rgba(0,0,0,0.24);
$material-bottom-shadow-2 : 0  3px  6px rgba(0,0,0,0.16), 0  3px  6px rgba(0,0,0,0.23);
$material-bottom-shadow-3 : 0 10px 20px rgba(0,0,0,0.19), 0  6px  6px rgba(0,0,0,0.23);
$material-bottom-shadow-4 : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$material-bottom-shadow-5 : 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

.material-panel-level-1 { background-color: #FFF; @include box-shadow($material-bottom-shadow-1); }
.material-panel-level-2 { background-color: #FFF; @include box-shadow($material-bottom-shadow-2); }
.material-panel-level-3 { background-color: #FFF; @include box-shadow($material-bottom-shadow-3); }
.material-panel-level-4 { background-color: #FFF; @include box-shadow($material-bottom-shadow-4); }
.material-panel-level-5 { background-color: #FFF; @include box-shadow($material-bottom-shadow-5); }

$material-red-50   : #ffebee;
$material-red-100  : #ffcdd2;
$material-red-200  : #ef9a9a;
$material-red-300  : #e57373;
$material-red-400  : #ef5350;
$material-red-500  : #f44336;
$material-red-600  : #e53935;
$material-red-700  : #d32f2f;
$material-red-800  : #c62828;
$material-red-900  : #b71c1c;
$material-red-A100 : #ff8a80;
$material-red-A200 : #ff5252;
$material-red-A400 : #ff1744;
$material-red-A700 : #d50000;

$material-pink-50   : #fce4ec;
$material-pink-100  : #f8bbd0;
$material-pink-200  : #f48fb1;
$material-pink-300  : #f06292;
$material-pink-400  : #ec407a;
$material-pink-500  : #e91e63;
$material-pink-600  : #d81b60;
$material-pink-700  : #c2185b;
$material-pink-800  : #ad1457;
$material-pink-900  : #880E4F;
$material-pink-A100 : #ff80ab;
$material-pink-A200 : #ff4081;
$material-pink-A400 : #f50057;
$material-pink-A700 : #c51162;

$material-purple-50   : #f3e5f5;
$material-purple-100  : #e1bee7;
$material-purple-200  : #ce93d8;
$material-purple-300  : #ba68c8;
$material-purple-400  : #ab47bc;
$material-purple-500  : #9c27b0;
$material-purple-600  : #8e24aa;
$material-purple-700  : #7b1fa2;
$material-purple-800  : #6a1b9a;
$material-purple-900  : #4a148c;
$material-purple-A100 : #ea80fc;
$material-purple-A200 : #e040fb;
$material-purple-A400 : #d500f9;
$material-purple-A700 : #aa00ff;

$material-deep-purple-50   : #ede7f6;
$material-deep-purple-100  : #d1c4e9;
$material-deep-purple-200  : #b39ddb;
$material-deep-purple-300  : #9575cd;
$material-deep-purple-400  : #7e57c2;
$material-deep-purple-500  : #673ab7;
$material-deep-purple-600  : #5e35b1;
$material-deep-purple-700  : #512da8;
$material-deep-purple-800  : #4527a0;
$material-deep-purple-900  : #311b92;
$material-deep-purple-A100 : #b388ff;
$material-deep-purple-A200 : #7c4dff;
$material-deep-purple-A400 : #651fff;
$material-deep-purple-A700 : #6200ea;

$material-indigo-50   : #e8eaf6;
$material-indigo-100  : #c5cae9;
$material-indigo-200  : #9fa8da;
$material-indigo-300  : #7986cb;
$material-indigo-400  : #5c6bc0;
$material-indigo-500  : #3f51b5;
$material-indigo-600  : #3949ab;
$material-indigo-700  : #303f9f;
$material-indigo-800  : #283593;
$material-indigo-900  : #1a237e;
$material-indigo-A100 : #8c9eff;
$material-indigo-A200 : #536dfe;
$material-indigo-A400 : #3d5afe;
$material-indigo-A700 : #304ffe;

$material-blue-50   : #e3f2fd;
$material-blue-100  : #bbdefb;
$material-blue-200  : #90caf9;
$material-blue-300  : #64b5f6;
$material-blue-400  : #42a5f5;
$material-blue-500  : #2196f3;
$material-blue-600  : #1e88e5;
$material-blue-700  : #1976d2;
$material-blue-800  : #1565c0;
$material-blue-900  : #0d47a1;
$material-blue-A100 : #82b1ff;
$material-blue-A200 : #448aff;
$material-blue-A400 : #2979ff;
$material-blue-A700 : #2962ff;

$material-light-blue-50   : #e1f5fe;
$material-light-blue-100  : #b3e5fc;
$material-light-blue-200  : #81d4fa;
$material-light-blue-300  : #4fc3f7;
$material-light-blue-400  : #29b6f6;
$material-light-blue-500  : #03a9f4;
$material-light-blue-600  : #039be5;
$material-light-blue-700  : #0288d1;
$material-light-blue-800  : #0277bd;
$material-light-blue-900  : #01579b;
$material-light-blue-A100 : #80d8ff;
$material-light-blue-A200 : #40c4ff;
$material-light-blue-A400 : #00b0ff;
$material-light-blue-A700 : #0091ea;

$material-cyan-50   : #e0f7fa;
$material-cyan-100  : #b2ebf2;
$material-cyan-200  : #80deea;
$material-cyan-300  : #4dd0e1;
$material-cyan-400  : #26c6da;
$material-cyan-500  : #00bcd4;
$material-cyan-600  : #00acc1;
$material-cyan-700  : #0097a7;
$material-cyan-800  : #00838f;
$material-cyan-900  : #006064;
$material-cyan-A100 : #84ffff;
$material-cyan-A200 : #18ffff;
$material-cyan-A400 : #00e5ff;
$material-cyan-A700 : #00b8d4;

$material-teal-50   : #e0f2f1;
$material-teal-100  : #b2dfdb;
$material-teal-200  : #80cbc4;
$material-teal-300  : #4db6ac;
$material-teal-400  : #26a69a;
$material-teal-500  : #009688;
$material-teal-600  : #00897b;
$material-teal-700  : #00796b;
$material-teal-800  : #00695c;
$material-teal-900  : #004d40;
$material-teal-A100 : #a7ffeb;
$material-teal-A200 : #64ffda;
$material-teal-A400 : #1de9b6;
$material-teal-A700 : #00bfa5;

$material-green-50   : #e8f5e9;
$material-green-100  : #c8e6c9;
$material-green-200  : #a5d6a7;
$material-green-300  : #81c784;
$material-green-400  : #66bb6a;
$material-green-500  : #4caf50;
$material-green-600  : #43a047;
$material-green-700  : #388e3c;
$material-green-800  : #2e7d32;
$material-green-900  : #1b5e20;
$material-green-A100 : #b9f6ca;
$material-green-A200 : #69f0ae;
$material-green-A400 : #00e676;
$material-green-A700 : #00c853;

$material-light-green-50   : #f1f8e9;
$material-light-green-100  : #dcedc8;
$material-light-green-200  : #c5e1a5;
$material-light-green-300  : #aed581;
$material-light-green-400  : #9ccc65;
$material-light-green-500  : #8bc34a;
$material-light-green-600  : #7cb342;
$material-light-green-700  : #689f38;
$material-light-green-800  : #558b2f;
$material-light-green-900  : #33691e;
$material-light-green-A100 : #ccff90;
$material-light-green-A200 : #b2ff59;
$material-light-green-A400 : #76ff03;
$material-light-green-A700 : #64dd17;

$material-lime-50   : #f9fbe7;
$material-lime-100  : #f0f4c3;
$material-lime-200  : #e6ee9c;
$material-lime-300  : #dce775;
$material-lime-400  : #d4e157;
$material-lime-500  : #cddc39;
$material-lime-600  : #c0ca33;
$material-lime-700  : #afb42b;
$material-lime-800  : #9e9d24;
$material-lime-900  : #827717;
$material-lime-A100 : #f4ff81;
$material-lime-A200 : #eeff41;
$material-lime-A400 : #c6ff00;
$material-lime-A700 : #aeea00;

$material-yellow-50   : #fffde7;
$material-yellow-100  : #fff9c4;
$material-yellow-200  : #fff59d;
$material-yellow-300  : #fff176;
$material-yellow-400  : #ffee58;
$material-yellow-500  : #ffeb3b;
$material-yellow-600  : #fdd835;
$material-yellow-700  : #fbc02d;
$material-yellow-800  : #f9a825;
$material-yellow-900  : #f57f17;
$material-yellow-A100 : #ffff8d;
$material-yellow-A200 : #ffff00;
$material-yellow-A400 : #ffea00;
$material-yellow-A700 : #ffd600;

$material-amber-50   : #fff8e1;
$material-amber-100  : #ffecb3;
$material-amber-200  : #ffe082;
$material-amber-300  : #ffd54f;
$material-amber-400  : #ffca28;
$material-amber-500  : #ffc107;
$material-amber-600  : #ffb300;
$material-amber-700  : #ffa000;
$material-amber-800  : #ff8f00;
$material-amber-900  : #ff6f00;
$material-amber-A100 : #ffe57f;
$material-amber-A200 : #ffd740;
$material-amber-A400 : #ffc400;
$material-amber-A700 : #ffab00;

$material-orange-50   : #fff3e0;
$material-orange-100  : #ffe0b2;
$material-orange-200  : #ffcc80;
$material-orange-300  : #ffb74d;
$material-orange-400  : #ffa726;
$material-orange-500  : #ff9800;
$material-orange-600  : #fb8c00;
$material-orange-700  : #f57c00;
$material-orange-800  : #ef6c00;
$material-orange-900  : #e65100;
$material-orange-A100 : #ffd180;
$material-orange-A200 : #ffab40;
$material-orange-A400 : #ff9100;
$material-orange-A700 : #ff6d00;

$material-deep-orange-50   : #fbe9e7;
$material-deep-orange-100  : #ffccbc;
$material-deep-orange-200  : #ffab91;
$material-deep-orange-300  : #ff8a65;
$material-deep-orange-400  : #ff7043;
$material-deep-orange-500  : #ff5722;
$material-deep-orange-600  : #f4511e;
$material-deep-orange-700  : #e64a19;
$material-deep-orange-800  : #d84315;
$material-deep-orange-900  : #bf360c;
$material-deep-orange-A100 : #ff9e80;
$material-deep-orange-A200 : #ff6e40;
$material-deep-orange-A400 : #ff3d00;
$material-deep-orange-A700 : #dd2c00;

$material-brown-50  : #efebe9;
$material-brown-100 : #d7ccc8;
$material-brown-200 : #bcaaa4;
$material-brown-300 : #a1887f;
$material-brown-400 : #8d6e63;
$material-brown-500 : #795548;
$material-brown-600 : #6d4c41;
$material-brown-700 : #5d4037;
$material-brown-800 : #4e342e;
$material-brown-900 : #3e2723;

$material-grey-0    : #ffffff;
$material-grey-50   : #fafafa;
$material-grey-100  : #f5f5f5;
$material-grey-200  : #eeeeee;
$material-grey-300  : #e0e0e0;
$material-grey-400  : #bdbdbd;
$material-grey-500  : #9e9e9e;
$material-grey-600  : #757575;
$material-grey-700  : #616161;
$material-grey-800  : #424242;
$material-grey-900  : #212121;
$material-grey-1000 : #000000;
$material-grey-A100 : #ffffff;

$material-blue-grey-50  : #eceff1;
$material-blue-grey-100 : #cfd8dc;
$material-blue-grey-200 : #b0bec5;
$material-blue-grey-300 : #90a4ae;
$material-blue-grey-400 : #78909c;
$material-blue-grey-500 : #607d8b;
$material-blue-grey-600 : #546e7a;
$material-blue-grey-700 : #455a64;
$material-blue-grey-800 : #37474f;
$material-blue-grey-900 : #263238;
