.permisos {
  @include paginaMultiPanel();

  td.accionable { 
    padding: 0;
    .dropdown-toggle { padding: 4px 3px; }
  }

  .fa { color: #4E4E4E }
  .panel-content { padding: 20px }

  #panelPermisos {
    .mat-toolbar, .mat-toolbar-expand { background-color: #FAFAFA; }
  }

  #panelRegistro {
    .mat-toolbar, .mat-toolbar-expand { background-color: #EEE; }
    .panel-content { padding-top: 15px; padding-bottom: 15px; }
    .log-warn, .log-warn .fa { color: #B71C1C }
  }
}