.permisos {

  td.accionable {
    padding: 0;
    .dropdown-toggle { padding: 4px 3px; }
  }

  #panelPermisos {
    padding-left: 0; padding-right: 0;
    .mat-toolbar, .mat-toolbar-expand { background-color: #FAFAFA; }
    .mat-toolbar {
      .btn {
        text-transform: uppercase;
        &:hover, &:hover .fa { background-color: $material-red-50; color: $material-red-500; }
      }
    }
    table.table .btn {
      font-weight: 300; background: transparent;
      &:hover { background: #FFF; }
    }
    .btn-group.open .btn { border-color: transparent; background-color: #FFF }
    .btn-group .btn:active:focus { border-color: transparent; }
  }

  #panelRegistro {
    .mat-toolbar, .mat-toolbar-expand { background-color: #EEE; }
    .panel-content { padding-top: 15px; padding-bottom: 15px; }
    .log-warn, .log-warn .fa { color: #B71C1C }
  }

  @include paginaMultiPanel();

  .fa { color: #4E4E4E }
  .panel-content { padding: 20px }

  .toast-error { background-color: $material-deep-orange-200; color: $material-deep-orange-900 !important; }
  .toast-error:before { color: $material-deep-orange-900 !important; }

  .solo-progreso { display: none }
  .progreso .solo-progreso { display: initial }

  .form-group span.twitter-typeahead {
    width: 100%;
    input.tt-selected {
      background-color: #E0E0E0 !important; color: #333; border-color: #E0E0E0;
    }
  }

  .modal {
    .btn {
      color: $material-red-700;
      text-transform: uppercase; border-color: transparent;
      i.fa { margin-right: 10px; color: $material-red-700 }
      &:hover { background-color: $material-red-100 }
    }
    .btn-primary {
      font-weight: 400; color: $material-red-700; background-color: transparent; border-color: transparent;
      &:hover {
        background-color: $material-red-700; color: #FFFFFF;
        i.fa { color: #FFFFFF }
      }
    }
    .modal-footer {
      border-top: 0; padding-top: 0px; padding-bottom: 15px;
      .btn+.btn { margin-left: 0 }
    }
    .errores { color: $material-red-700; }
    h1 { font-size: 20px; margin-top: 5px; margin-bottom: 15px; font-weight: normal }
    .form-control {
      @include border-radius(0);
      @include box-shadow(none);
      &:focus { border-color: #CCC; outline: 0; @include box-shadow(none); }
    }
  }

  #dlgEliminarUsuario .error { margin-top: 10px }
}
