@import "compass/css3";
@import "support.scss";
@import "material.scss";

.hidden { display: none !important; }
.invisible { visibility: none !important; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$stdfontpath: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$input-border: #CCC;

$cudu-padding-base-vertical: $padding-base-vertical - 2;
$cudu-padding-base-horizontal: $padding-base-horizontal - 5;

body { font-family: $stdfontpath; color: #333; background-color: #EEE }

.navbar { font-family: 'Roboto', $stdfontpath; font-weight: 300; }
.navbar-brand { font-weight: 400; padding-top: 2px }

@mixin navbar-material($bg, $fg) {
  background: $bg; border: 0; margin-bottom: 0;

  .navbar-brand { color: $fg; &:hover, &:focus { color: $fg; background: $bg; } }
  .navbar-nav {
    > li > a { color: #FFF; &:hover, &:focus { color: $fg; background: desaturate(lighten($bg, 5%), 5%); } }
    > .active   > a { &, &:hover, &:focus { color: $fg; background: $bg } }
    > .disabled > a { &, &:hover, &:focus { color: darken($fg, 20%); background: $bg; } }
  }
}

.mat-header {
  position: absolute; width: 100%; height: 106px; z-index: -200; top: 0;
  @include box-shadow($material-bottom-shadow-1);
}

.mat-toolbar {
  height: 56px;
  padding: 12px 20px 0 20px;
  button, .btn {
    color: #555;
    background: transparent;
    border: 0; font-weight: 400;
  }
}
.mat-toolbar-expand { height: 73px; // 72 + 1 border transparent
  border-bottom: 1px solid $input-border;
  padding: 15px 15px 0px 15px;
  h1 { font-size: 24px; margin: 10px 0 0 15px }
}

.contenedor-central {
  font-family: Roboto, $stdfontpath; margin-top: 50px;
  background-color: #FFF;
  > div {
    margin-top: 0px; margin-bottom: 0px;
    @include box-shadow($material-bottom-shadow-2)
  }
}

.form-edicion {
  // 15px por quitarselos a .col-md-8
  margin: 20px 15px;
}

h1 { font-weight: 300; }

.form-cudu {
  .form-group { margin-bottom: 8px }
  .control-label { padding: $cudu-padding-base-vertical + 1; }
  .form-control {
    height: $input-height-base - 4;
    padding: $cudu-padding-base-vertical $cudu-padding-base-horizontal;
    @include box-shadow(none);
    @include border-radius(0px);
    border-width: 0px 0px 1px 0px;
    color: #333;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: inherit; color: $material-grey-400;
  }
  .form-control:focus {
    border-color: $material-grey-700;
  }
  textarea.form-control { height: auto; }
  .form-control-static {
    padding-top: $cudu-padding-base-vertical + 1;
  }
  .checkbox-inline, .radio-inline, .checkbox {
    padding-top: $cudu-padding-base-vertical;
  }
  .btn-group-sm > .btn { @include border-radius(0px); }
  .btn.active { @include box-shadow(none); }
  .input-group-btn:last-child > .btn {
    border-width: 0 0 1px 0; border-top: 1px solid transparent;
    @include border-radius(0px);
  }
  > .nav, > .tab-content { margin-top: $line-height-computed + $padding-base-vertical }
}

.btn, .btn-xs, .btn-group-xs > .btn {
  @include border-radius(0px);
}

// Eliminar borde difuminado al pulsar
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus,
.btn:active.focus, .btn.active.focus { outline: none }

// Eliminar sombra interna al pulsar
.btn:active, .btn.active, .btn-group.open .dropdown-toggle {
  @include box-shadow(none);
  background-color: $material-grey-200;
}

// Eliminar bordes btn-group
.btn-group .btn-default { border-color: transparent }

.btn-progress, .btn-progress:focus {
  color: #FFF;
  -webkit-animation: progress 0.7s ease infinite;
  &:hover { border-color: #CCC; }
}

.dropdown-menu {
  @include border-radius(0px);
  font-weigth: 300; margin-top: 0; // antes 2px
  .dropdown-header { font-size: inherit; text-transform: uppercase; }
  .fa, .glyphicon { margin-right: 10px }
}

@-webkit-keyframes progress {
  0%  {background-color: #5CB85C; }
  50% {background-color: #BAE8BA; }
  100% {background-color: #5CB85C; }
}

// TABS
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: $material-grey-900;
  border-color: transparent;
  // 3px, para no desplazar usamos box-shadow
  border-bottom: 1px solid $material-grey-900;
  @include box-shadow(inset 0 -2px 0 0 $material-grey-900);
}

.nav-tabs > li > a {
  color: #333;
  @include border-radius(0px);
}

.table {
  tr > th, tr > td {
    border-top: 1px solid rgba(0,0,0,.12);
    padding: 1.6rem;
    font-weight: 300;
  }
  tr > th { font-weight: 400; color: $material-grey-800; }
  & > thead > tr > th { border-color: $material-grey-300; }
}

.alert {
  @include border-radius(0px);
  ul { margin-top: 10px; }
  font-weight: 300;
  strong { font-weight: 500 }
}

.alert-info {
  color: #FFF; border-color: $material-grey-900;
  background-color: $material-grey-800;
}

.alert-danger {
  color: #FFF; border-color: $material-red-500;
  background-color: $material-red-500;
}

.alert-warning {
  color: #333; border-color: $material-yellow-100;
  background-color: $material-yellow-100;
}

// Selectores de rama
a, button {
  &.colonia { @include btnRama($material-orange-500, $material-orange-100); }
  &.manada { @include btnRama($material-yellow-700, $material-yellow-200); }
  &.exploradores { @include btnRama($material-blue-500, $material-blue-100); }
  &.expedicion { @include btnRama($material-red-700, $material-red-100); }
  &.ruta { @include btnRama($material-green-600, $material-green-100); }
}

// typeahead.js
.tt-dropdown-menu {
  background-color: #FFF;
  border: 1px solid $input-border;
  max-height: 200px; min-width: 250px;
  overflow-y: auto; 
  /* solo si existe textbox encima: margin-top: -1px; */
}
.tt-suggestion { padding: 6px 8px; height: 32px; line-height: 20px; }
.tt-suggestion.tt-cursor { background-color: $material-grey-300; }
.tt-hint { color: $material-grey-300; }

@include keyframes(flash) {
    0% { background-color: #FFFBCC; }
    100% { background-color: #FFF; }
}
.flash.ng-enter {
    @include animation-name(flash);
    @include animation-duration(2s);
    @include animation-iteration-count(1);
    @include animation-timing-function(ease-in);
}

@import 'secciones.scss';
@import 'menu.scss';
@import 'login.scss';
@import 'asociado.scss';
@import 'grupo.scss';
@import 'tecnico-fev.scss';
@import 'actividades.scss';
@import 'permisos.scss';
