
.grupo {
  .contenedor-central {
    background-color: transparent;
    &>div {
      @include box-shadow(none);
      background-color: transparent;
    }
  }

  #panelEstadisticas {
    padding-left: 0;
    .material-panel-level-2 {
      min-height: 400px;
      padding: 10px;
    }
    h2 {
      font-weight: 300;
      font-size: 21px;
      margin: 20px 10px;
    }
  }

  #panelEdicion {
    padding-right: 0;
    .material-panel-level-2 {
      padding-bottom: 5px
    }
    .form-control:focus {
      border-color: $material-pink-A200;
    }
  }
}
