.tecnico-fev {
  #listado-asociados {
    margin: 10px;
    table {

    }
    table tr:hover { cursor: pointer; }
    .padded { margin: 5px; }
    label + .btn-group { vertical-align: bottom; }
    .separador-dcho { border-right: 1px solid #ddd; }
    .panel-footer { text-align: center; }
  }
}
