<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Cambiar Contraseña</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>body { font-family: Arial; }</style>
</head>
<body>
<p>Hola <span th:text="${nombre}">Mike</span>:</p>

<p th:text="#{reset.email.explicacion}">Se ha solicitado el cambio de contraseña para tu usuario. Para acceder a cambiarla, utiliza el siguiente enlace:</p>
<a href="/reset" th:href="'http://cudu.scoutsfev.org/reset/' + ${token} + '?hl=' + ${lenguaje}" th:text="'http://cudu.scoutsfev.org/reset/' + ${token} + '?hl=' + ${lenguaje}">https://cudu.scoutsfev.org/reset/1234</a>

<p th:text="#{reset.email.caduca}">El enlace estará activo durante la próxima hora, si no cambias tu contraseña durante ese periodo tendrás que volver a solicitar el cambio.</p>

<p th:text="#{reset.email.ignora}">Puedes ignorar este mensaje si no has solicitado el cambio o lo has hecho por error. Tu contraseña no será cambiada.</p>

<p th:text="#{reset.email.saludo}">Un saludo,</p>
<p>
  -- <br/>
  Federació d'Escoltisme Valencià<br/>
  <a href="http://www.scoutsfev.org">www.scoutsfev.org</a><br/>
  C/ Balmes, 17 - 46001 - València <br/>
  Telf.: 963153240 / Fax: 963153242 <br/>
  e-mail: fev@scoutsfev.org
</p>
</body>
</html>
