<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Cambiar Contraseña</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>body { font-family: Arial; }</style>
</head>
<body>
<p>Hola <span th:text="${nombre}">Mike</span>:</p>

<p>Has solicitado el cambio de contraseña de tu usuario de Cudú. Para acceder a cambiarla, utiliza el siguiente enlace:</p>
<a href="/reset" th:href="'http://cudu.scoutsfev.org/reset/' + ${token}" th:text="'http://cudu.scoutsfev.org/reset/' + ${token}">https://cudu.scoutsfev.org/reset/1234</a>

<p>Si no has solicitado el cambio, o lo has hecho por error, puedes ignorar este mensaje.</p>

<p>Un saludo, <br />
<em>Federació d'Escoltisme Valencià</em>
</p>
</body>
</html>
