<div class="container contenedor-central actividades-detalle">
<div class="row">
<div class="col-md-12">
  <div class="row">
    <div class="col-md-7">
      <div id="listadoAsistentes">
        <form class="form-inline">
          <div class="form-group">
            <label>Añadir Asociado</label>
            <input type="text" class="form-control" id="txtApuntar" placeholder="Jane Doe">
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Añadir Rama <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Colonia</a></li>
              <li><a href="#">Manada</a></li>
              <li><a href="#">Exploradores</a></li>
              <li><a href="#">Expedición</a></li>
              <li><a href="#">Manada</a></li>
            </ul>
          </div>
        </form>
        <div>
          <table class="table">
            <caption ng-show="actividad.precio">
              Asistentes: {{resumen.asistentes}} - Pagados: {{resumen.pagados}}
              <span class="pull-right">Recaudación estimada: {{resumen.recaudacion}}€ / {{resumen.esperado}}€</span>
            </caption>
            <thead>
              <tr>
                <th>Estado</th>
                <th>Nombre</th>
                <th>Rama</th>
                <th>Tipo</th>
                <th>Teléfono</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="asistente in actividad.detalle | orderBy:'nombreCompleto' track by asistente.asociadoId"
                  ng-class="('estado-' + asistente.estadoAsistente)">
                <th scope="row">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      {{asistente.estadoAsistente | i8n:'asistente'}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'D')">Duda</a></li>
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'N')">No viene</a></li>
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'S')">Viene</a></li>
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'P')">Pagado</a></li>
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'B')">Becado</a></li>
                    </ul>
                  </div>
                </th>
                <td>{{asistente.nombreCompleto}}</td>
                <td>{{asistente.rama | rama:'rama.cualquiera'}}</td>
                <td>{{asistente.tipo | i8n:'tipo'}}</td>
                <td>{{asistente.telefono}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="panelEdicion" class="col-md-5">
      <div class="mat-toolbar text-right">
        <a href="#/actividades" class="btn btn-default">VOLVER</a>
        <button type="button" class="btn btn-default" ng-click="guardar(actividad.id)">GUARDAR</button>
      </div>
      <div class="mat-toolbar-expand"><h1>{{actividad.nombre || '(nueva)'}}</h1></div>
      <div id="panelEdicionCt">

        <div class="alert alert-info" ng-show="estado == 2">
          Se han guardado los cambios de la actividad correctamente.
        </div>

        <div class="alert alert-danger" ng-show="estado == 3">
          Ha ocurido un error inesperado, los cambios no se han salvado correctamente. Por favor, inténtalo más tarde o contacta con la sede FEV para más información.
        </div>

        <div class="alert alert-warning" ng-show="estado == 4">
          <strong>Ops!</strong> Algunos de los datos de la actividad no son correctos, por favor revisa el formulario.
          <ul>
            <li ng-repeat="error in erroresValidacion">{{error.mensaje}}</li>
          </ul>
        </div>

        <form name="formActividad" class="form-horizontal form-cudu form-edicion">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-md-3 control-label">Nombre</label>
                <div class="col-md-9">
                  <input ng-model="actividad.nombre" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group multi-2">
                <label class="col-md-3 control-label">Fecha Inicio</label>
                <div class="col-md-9">
                  <input ng-model="actividad.fechaInicio" cudu-fecha type="text" class="form-control">
                  <label>Fecha Fin</label>
                  <input ng-model="actividad.fechaFin" cudu-fecha type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Lugar</label>
                <div class="col-md-9">
                  <input ng-model="actividad.lugar" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Precio</label>
                <div class="col-md-9">
                  <input ng-model="actividad.precio" type="text" class="form-control"
                    ng-change="recalcularPrecio()" ng-model-options="{ debounce: 600 }">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Responsable</label>
                <div class="col-md-9">
                  <input ng-model="actividad.responsable" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Rama</label>
                <div class="col-md-9">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default colonia" ng-class="{active: actividad.rama.colonia}" ng-click="establecerRama('colonia')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default manada" ng-class="{active: actividad.rama.manada}" ng-click="establecerRama('manada')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default exploradores" ng-class="{active: actividad.rama.exploradores}" ng-click="establecerRama('exploradores')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default expedicion" ng-class="{active: actividad.rama.expedicion}" ng-click="establecerRama('expedicion')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default ruta" ng-class="{active: actividad.rama.ruta}" ng-click="establecerRama('ruta')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-class="{active: !actividad.rama.alguna}" ng-click="establecerRama('alguna')">
                      Cualquiera
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Notas</label>
                <div class="col-md-9">
                  <textarea ng-model="actividad.notas" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
