<div class="container contenedor-central actividades-detalle">
<div class="row">
<div class="col-md-12">
  <div class="row">
    <div class="col-md-7">
      <div id="listadoAsistentes">
        <form class="form-inline">      
          <div class="form-group">
            <label><%= actividades.anadirAsociado %></label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control typeahead" id="txtApuntar" placeholder="Baden Powell" 
              sf-typeahead options="typeaheadAsociadoOpt" datasets="typeaheadAsociadoDts" ng-model="asistentPerAfegir">
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <%= actividades.anadirRama %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:" ng-click="afegirBranca('colonia')"><%= rama.colonia %></a></li>
              <li><a href="javascript:" ng-click="afegirBranca('manada')"><%= rama.manada %></a></li>
              <li><a href="javascript:" ng-click="afegirBranca('exploradores')"><%= rama.exploradores %></a></li>
              <li><a href="javascript:" ng-click="afegirBranca('expedicion')"><%= rama.expedicion %></a></li>
              <li><a href="javascript:" ng-click="afegirBranca('ruta')"><%= rama.ruta %></a></li>
            </ul>
          </div>
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-print"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><%= asociado.imprimir %></li>
              <li ng-repeat="autorizacion in autorizaciones"><a href="" ng-click="generar(autorizacion.id)">{{autorizacion.nombre}}</a></li>
            </ul>
          </div>
        </form>
        <div>
          <table class="table">
            <caption ng-show="actividad.precio">
              <%= actividades.asistentes %>: {{resumen.asistentes}} - <%= actividades.pagados %>: {{resumen.pagados}}
              <span class="pull-right"><%= actividades.recaudacionEstimada %>: {{resumen.recaudacion}}€ / {{resumen.esperado}}€</span>
            </caption>
            <thead>
              <tr>
                <th><%= actividades.estado %></th>
                <th><%= actividades.nombre %></th>
                <th><%= actividades.rama %></th>
                <th><%= actividades.tipo %></th>
                <th><%= actividades.telefono %></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="asistente in actividad.detalle | orderBy:'nombreCompleto' track by asistente.asociadoId" ng-class="estiloAsistencia(asistente)">
                <th scope="row">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      {{asistente.estadoAsistente | i18n:'asistente'}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'D')"><%= actividades.duda %></a></li>
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'N')"><%= actividades.noViene %></a></li>
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'S')"><%= actividades.viene %></a></li>
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'P')"><%= actividades.pagado %></a></li>
                      <li><a href="javascript:" ng-click="establecerAsistencia(asistente, 'B')"><%= actividades.becado %></a></li>
                      <li class="divider"></li>
                      <li><a href="javascript:" ng-click="eliminarAsistente(asistente)"><%= actividades.eliminarDeLaLista %></a></li>
                    </ul>
                  </div>
                </th>
                <td>{{asistente.nombreCompleto}}</td>
                <td>{{asistente.rama | rama:'rama.cualquiera'}}</td>
                <td>{{asistente.tipo | i18n:'tipo'}}</td>
                <td>{{asistente.telefono}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="panelEdicion" class="col-md-5">
      <div class="mat-toolbar text-right">
        <a href="#/actividades" class="btn btn-default"><%= actividades.volver %></a>
        <button type="button" class="btn btn-default" ng-click="guardar(actividad.id)"><%= actividades.guardar %></button>
      </div>
      <div class="mat-toolbar-expand"><h1>{{actividad.nombre || '(nueva)'}}</h1></div>
      <div id="panelEdicionCt">

        <div class="alert alert-info" ng-show="estado == 2">
          <%= actividades.guardadoOk %>
        </div>

        <div class="alert alert-danger" ng-show="estado == 3">
          <%= actividades.errorServidor %>
        </div>

        <div class="alert alert-warning" ng-show="estado == 4">
          <%= actividades.errorValidacion %>
          <ul>
            <li ng-repeat="error in erroresValidacion">{{error.mensaje}}</li>
          </ul>
        </div>

        <form name="formActividad" class="form-horizontal form-cudu form-edicion">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-md-3 control-label"><%= actividades.nombre %></label>
                <div class="col-md-9">
                  <input ng-model="actividad.nombre" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group multi-2">
                <label class="col-md-3 control-label"><%= actividades.fechaInicio %></label>
                <div class="col-md-9">
                  <input ng-model="actividad.fechaInicio" cudu-fecha type="text" class="form-control">
                  <label><%= actividades.fechaFin %></label>
                  <input ng-model="actividad.fechaFin" cudu-fecha type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"><%= actividades.lugar %></label>
                <div class="col-md-9">
                  <input ng-model="actividad.lugar" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"><%= actividades.precio %></label>
                <div class="col-md-9">
                  <input ng-model="actividad.precio" type="text" class="form-control"
                    ng-change="recalcularPrecio()" ng-model-options="{ debounce: 600 }">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"><%= actividades.responsable %></label>
                <div class="col-md-9">
                  <input ng-model="actividad.responsable" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"><%= actividades.rama %></label>
                <div class="col-md-9">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default colonia" ng-class="{active: actividad.rama.colonia}" ng-click="establecerRama('colonia')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default manada" ng-class="{active: actividad.rama.manada}" ng-click="establecerRama('manada')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default exploradores" ng-class="{active: actividad.rama.exploradores}" ng-click="establecerRama('exploradores')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default expedicion" ng-class="{active: actividad.rama.expedicion}" ng-click="establecerRama('expedicion')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default ruta" ng-class="{active: actividad.rama.ruta}" ng-click="establecerRama('ruta')">
                      <i class="fa fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-class="{active: !actividad.rama.alguna}" ng-click="establecerRama('alguna')">
                      Cualquiera
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"><%= actividades.edicion.notas %></label>
                <div class="col-md-9">
                  <textarea ng-model="actividad.notas" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
