<div class="container contenedor-central actividades-listado">
  <div class="row">
    <div class="col-md-12">
      <div class="mat-toolbar">

        <form class="form form-inline" autocomplete="off">
          <div class="form-group">
            <div class="input-group">
              <input id="txtBusqueda" ng-model="busqueda" type="text" class="form-control" placeholder="<%= actividades.busqueda %>">
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group pull-right">
            <button ng-click="detalle('nueva')" class="btn btn-default" type="button"><i class="fa fa-plus"></i>&nbsp; <%= actividades.nueva %></button>
          </div>
        </form>

      </div>

      <div class="tabla">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= actividades.id %></th>
              <th width="30%"><%= actividades.nombreDeLaActividad %></th>
              <th><%= actividades.fechaInicio %></th>
              <th><%= actividades.fechaFin %></th>
              <th><%= actividades.lugar %></th>
              <th><%= actividades.ramas %></th>
              <th><%= actividades.precio %></th>
              <th><%= actividades.responsable %></th>
              <th><%= actividades.creadaPor %></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="a in actividades | filter:busqueda | orderBy:'-id' track by a.id" ng-click="detalle(a.id)">
              <th scope="row">{{a.id}}</th>
              <td>{{a.nombre}}</td>
              <td>{{a.fechaInicio | fechaArray}}</td>
              <td>{{a.fechaFin | fechaArray}}</td>
              <td>{{a.lugar}}</td>
              <td>{{a.rama | rama:'rama.cualquiera'}}</td>
              <td>{{a.precio}}</td>
              <td>{{a.responsable}}</td>
              <td>{{a.creadaPor}}</td>
            </tr>
            <tr ng-show="!actividades">
              <td colspan="7"><%= actividades.noHayActividadesParaMostrar %></td>
            </tr>
          </tbody>
        </table>

        <p><%= actividades.actividadesMasDe4Meses %></p>
      </div>
    </div>
  </div>
</div>
